﻿<header>
    <link rel="stylesheet" type="text/css" href="//cdn.admake.com.br/arquivos-vtex/grafica-onixx/arquivos/admake-checkout.css">
    <div class="header" style="text-align: center;">
        <a href="/" title="Gráfica Onixx">
            <img src="/arquivos/grafica-onixx.png" alt="Gráfica Onixx" width="154">
        </a>
    </div>
</header>