@mixin sombra($position: 'top', $aux: false, $height: 26px) {
    @if $aux {
        &:after,
        &:before{
            content: "";
            width: 100%;
            max-width: 1140px;
            height: $height;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
        &:before{
            @if $position == 'top' {
                top: 0;
            }
            @if $position == 'bottom' {
                bottom: 0;
            }
            height: $height/2;
            z-index: 2;
            background: #fff;
        }
    }

    &:after{
        @if $aux == false {
            content: "";
            width: 100%;
            max-width: 1140px;
            height: $height;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
        opacity: .07;
        @if $position == 'top' {
            top: -($height/2);
        }
        @if $position == 'bottom' {
            bottom: -($height/2);
        }
        z-index: 1;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&1+0,0+64 */
        background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 64%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
        background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 64%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: radial-gradient(ellipse at center, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 64%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }
}
@mixin title-default($fs: 24px, $color: $colorPrimary, $mb: 30px) {
    @extend %title-default;
    font-size: $fs;
    line-height: $fs + 8;
    margin-bottom: $mb;
    color: $color;
}
@mixin text-default($fz: 14px){
    @extend %text-default;
    font-size: $fz;
}

@mixin skew($bg: $colorSecondary, $skew: -15deg){
    &::before{
        @extend %btn-skew;
        background: $bg;
        -webkit-transform: skew($skew);
        transform: skew($skew);
    }
}

@mixin input($height: 55px, $width: 100%, $padding: 0 15px ){
    width: $width;
    height: $height;
    border-radius: 0;
    padding: $padding;
    border-color: $color3;
    background: $colorWhite;
    border: 1px solid #F4F4F4;
    box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.17) !important;
    font-size: 13px;
    color: $colorPrimary;
    line-height: $height;
    letter-spacing: 0;
}

@mixin divisor($height: 50px){
    &::before{
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: ($height / 2) * -1;
        width: 1px;
        opacity: .19;
        height: $height;
        background: -moz-linear-gradient(top, rgba(251, 251, 251, 0) 0%, #666666 50%, rgba(231, 231, 231, 0) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(251, 251, 251, 0) 0%, #666666 50%, rgba(231, 231, 231, 0) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(251, 251, 251, 0) 0%, #666666 50%, rgba(231, 231, 231, 0) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fbfbfb', endColorstr='#00e7e7e7',GradientType=0 );
        /* IE6-9 */
    }
}

@mixin btn-default($bg: $colorSecondary, $color: $colorWhite, $fz: 13px, $width: auto, $height: auto, $skew: -15deg) {
    @extend %btn-default;
    color: $color;
    font-size: $fz;
    background: $bg;
    border-radius: 3px;
    border: 0 none;
    box-shadow: 0 0 0 transparent;

    @if $height !=auto {
        line-height: calc(#{$height} - 20px);
    }
    @include size($width, $height);
    &:hover{
        background: darken($bg, 10%);
    }
}

@mixin modals($bgMask: rgba(17, 17, 17, 6/10), $side: right, $colorContent: #fff, $mx: 420px) {
    @extend %fixed-full;
    z-index: 999;
    .mask {
        @include mask($bgMask);
    }
    > .content {
        position: fixed;
        #{$side}: -100%;
        top: 0;
        bottom: 0;
        background: $colorContent;
        max-width: $mx;
        z-index: 111;
        width: 100%;
    }
}

@mixin btn-close($width: 30px, $color: $color3) {
    transition: transform .25s ease-in-out;
    &:before,
    &:after {
        @extend %btn-close;
        width: $width;
        border-top: 1px solid #{$color};
        transform-origin: center;
    }
    &:after {
        transform: rotate(-45deg);
    }
    &:hover {
        transform: rotate(180deg);
    }
}

/** DEFAULTS **/

// mask
@mixin mask($bg: rgba(17, 17, 17, 6/10), $z-index: 110, $cursor: pointer) {
    @extend %fixed-full;
    background: $bg;
    z-index: $z-index;
    cursor: $cursor;
}

// columns
@mixin content-columns($columnCount, $columnGap: 20px) {
    column-count: $columnCount;
    column-gap: $columnGap;
    @if $webkit==true {
        -webkit-column-count: $columnCount;
        -webkit-column-gap: $columnGap;
    }
    @if $moz==true {
        -moz-column-count: $columnCount;
        -moz-column-gap: $columnGap;
    }
}

//media queries
@mixin media-queries($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type==max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

// prefix declarations
@mixin prefixed($property, $value) {
    @if $webkit==true {
        -webkit-#{$property}: #{$value};
    }
    @if $moz==true {
        -moz-#{$property}: #{$value};
    }
    @if $ms==true {
        -ms-#{$property}: #{$value};
    }
    @if $o==true {
        -o-#{$property}: #{$value};
    }
    #{$property}: #{$value};
}

// size
@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

// center absolute components
@mixin center-absolute($vertical: false, $height: false, $horizontal: false, $width: false) {
    position: absolute;
    @if ($vertical==true and $horizontal==true) and ($height==false and $width==false) {
        top: 50%;
        left: 50%;
        @include prefixed(transform, translate(-50%, -50%));
    }
    @else {
        @if $vertical==true {
            top: 50%;
            @if $height==false {
                @include prefixed(transform, translateY(-50%));
            }
            @else {
                margin-top: -($height - ($height / 2));
            }
        }
        @if $horizontal==true {
            left: 50%;
            @if $width==false {
                @include prefixed(transform, translateX(-50%));
            }
            @else {
                margin-left: -($width - ($width / 2));
            }
        }
    }
}

// pseudo icon-fontawesome 5
@mixin fontAwesome($unicode, $type: 'fas', $size: 16px, $color: #000, $display: block){
    content: $unicode;
    display: $display;
    color: $color;
    @if $type == 'fas' {
        font: 900 $size Font Awesome\ 5 Free;
    }
    @if $type == 'fab' {
        font: 300 $size Font Awesome\ 5 Brands;
    } 
    @if $type == 'far' {
        font: 400 $size Font Awesome\ 5 Free;
    } 
}

// placeholder
@mixin input-placeholder {
    &.placeholder {
        @content;
    }
    @if $moz==true {
        &:-moz-placeholder {
            @content;
        }
        &::-moz-placeholder {
            @content;
        }
    }
    @if $ms==true {
        &:-ms-input-placeholder {
            @content;
        }
    }
    @if $webkit==true {
        &::-webkit-input-placeholder {
            @content;
        }
    }
}

//truncate
@mixin truncate($mx: 250px) {
    max-width: $mx;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// prefix keyframes
@mixin keyframes($name) {
    @if $webkit==true {
        @-webkit-keyframes #{$name} {
            @content;
        }
    }
    @if $moz==true {
        @-moz-keyframes #{$name} {
            @content;
        }
    }
    @if $ms==true {
        @-ms-keyframes #{$name} {
            @content;
        }
    }
    @if $o==true {
        @-o-keyframes #{$name} {
            @content;
        }
    }
    @keyframes #{$name} {
        @content;
    }
}
// center absolute components
@mixin center-vertically-absolute($vertical: false, $height: false, $horizontal: false, $width: false) {
    position: absolute;
    @if ($vertical==true and $horizontal==true) and ($height==false and $width==false) {
        top: 50%;
        left: 50%;
        @include prefixed(transform, translate(-50%, -50%));
    }
    @else {
        @if $vertical==true {
            top: 50%;
            @if $height==false {
                @include prefixed(transform, translateY(-50%));
            }
            @else {
                margin-top: -($height - ($height / 2));
            }
        }
        @if $horizontal==true {
            left: 50%;
            @if $width==false {
                @include prefixed(transform, translateX(-50%));
            }
            @else {
                margin-left: -($width - ($width / 2));
            }
        }
    }
}