<div class="benefits-banner">
    <div class="container">
        <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
                <span class="icon">
                    <i class="fas fa-truck"></i>
                </span>
                <span class="text">
                    <strong>FRETE GRÁTIS</strong>
                    compras acima de R$ 899
                </span>
            </li>
            <li class="list-inline-item">
                <span class="icon">
                    <i class="far fa-credit-card"></i>
                </span>
                <span class="text">
                    <strong>10% DE DESCONTO</strong>
                    à vista no boleto
                </span>
            </li>
            <li class="list-inline-item">
                <span class="icon">
                    <i class="far fa-credit-card"></i>
                </span>
                <span class="text">
                    <strong>PAGUE EM 10X SEM JUROS</strong>
                    no cartão de crédito
                </span>
            </li>
            <li class="list-inline-item">
                <span class="icon">
                    <i class="fas fa-boxes"></i>
                </span>
                <span class="text">
                    <strong>PRONTA ENTREGA</strong>
                    Produtos no estoque
                </span>
            </li>
        </ul>
    </div>
</div>