﻿<ul class="list-unstyled">
    <li><a href="#">Como Comprar</a></li>
    <li><a href="#">Forma de Pagamento</a></li>
    <li><a href="#">Forma de Envio</a></li>
    <li><a href="#">Regras de Desconto e Promoções</a></li>
    <li><a href="#">Frete Grátis</a></li>
    <li><a href="#">Dicas Importantes</a></li>
</ul>