﻿<p>Copyright © 2019 GPJ Informática. Todos os direitos reservados.</p>
<br/>
<p>Todas as regras e promoções são válidas apenas para produtos vendidos e entregues pela GPJ.com.br. O preço válido será o da finalização da compra.</p>
<br/>
<p>Todas as informações divulgadas são de responsabilidade do Fabricante/Fornecedor. Verifique com os Fabricantes do produto e de seus componentes, eventuais limitação a utilização de todos os recursos e funcionalidades. </p>