﻿<ul class="list-unstyled">
    <li>
        <a href="#">Quem somos</a>
    </li>
    <li>
        <a href="#">Política de preços</a>
    </li>
    <li>
        <a href="#">Política de privacidade</a>
    </li>
    <li>
        <a href="#">Política de entrega</a>
    </li>
    <li>
        <a href="#">Termo de garantia</a>
    </li>
    <li>
        <a href="#">Codigo de defesa do consumidor</a>
    </li>
    <li>
        <a href="#">Trocas e devoluções</a>
    </li>
</ul>