﻿<ul class="list-inline list-unstyled">
    <li class="list-inline-item">
        <a href="https://vtex.com" target="_Blank" title="VTEX">
            <img data-src="/arquivos/vtex.png" alt="VTEX" width="74" height="25" class="img-fluid lazy" />
        </a>
    </li>
    <li class="bar list-inline-item"></li>
    <li class="list-inline-item">
        <a href="https://admake.com.br" target="_Blank" title="Admake">
            <img data-src="/arquivos/admake.png" alt="Admake" width="89" height="18" class="img-fluid lazy" />
        </a>
    </li>
</ul>