﻿<ul class="list-unstyled">
    <li>
        <a href="#">Gamers</a>
    </li>
    <li>
        <a href="#">Computadores</a>
    </li>
    <li>
        <a href="#">Armazenamento</a>
    </li>
    <li>
        <a href="#">Hardware</a>
    </li>
    <li>
        <a href="#">Eletrônicos</a>
    </li>
    <li>
        <a href="#">Segurança</a>
    </li>
    <li>
        <a href="#">Rede</a>
    </li>
    <li>
        <a href="#">Periféricos</a>
    </li>
    <li>
        <a href="#">Saldão</a>
    </li>
</ul>