﻿<div class="newsletter d-lg-flex justify-content-between align-items-center" data-sigla="NE" data-store="gpjoficial" data-admake="newsletter"
    data-element="form">
    
    <div class="title d-sm-flex align-items-center">
        <img data-src="/arquivos/icon-newsletter2.png" alt="" class="img-fluid lazy" width="144" height="114" />
        <p>NEWSLETTER <span>Cadastre seu e-mail e receba novidades e promoções exclusivas em primeira mão</span></p>
    </div>

    <form action="">
        <div class="form">
            <div class="form-news-inputs d-sm-flex align-items-center">
                <input class="name" type="text" name="name" placeholder="Nome" />
                <input class="email" type="email" name="email" placeholder="E-mail" />
                <button type="submit" class="btn"><i class="fas fa-chevron-right"></i></button>
            </div>
            
            <input id="newsletterRegistered" type="hidden" value="E-mail já cadastrado na base!">
            <input id="newsletterSuccess" type="hidden" value="Obrigado por se cadastrar na GPJ!">
            <input id="newsletterError" type="hidden" value="Encontramos um erro no cadastro de suas informações!">
        </div>
        <p class="alert-message" style="display: none"></p>
    </form>
</div>