﻿<!-- 
    Params .ad-contact

    sigla        : String   (default = NE, obs: Sigla do master data)
    store        : String   (default = '', obs: Store name da loja)

    Criar entidade no masterdata, formulario e trigger de e-mail.
-->

<div class="newsletter" data-sigla="NE" data-store="gpjoficial" data-admake="newsletter" data-element="form">
    <div class="header">
        <svg width="57px" height="51px" viewBox="0 0 57 51" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs>
                <rect id="path-1" x="0" y="0" width="1500" height="445"></rect>
                <filter x="-4.8%" y="-7.7%" width="109.6%" height="115.4%" filterUnits="objectBoundingBox" id="filter-3">
                    <feGaussianBlur stdDeviation="42" in="SourceGraphic"></feGaussianBlur>
                </filter>
                <rect id="path-4" x="0" y="0" width="738" height="397"></rect>
            </defs>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Desktop-popupnews" transform="translate(-722.000000, -229.000000)">
                    <g id="Bitmap" transform="translate(0.000000, 170.000000)">
                        <mask id="mask-2" fill="white">
                            <use xlink:href="#path-1"></use>
                        </mask>
                        <use id="Mask" fill="#0D1C2A" xlink:href="#path-1"></use>
                    </g>
                    <g id="Bitmap" transform="translate(381.000000, 194.000000)">
                        <mask id="mask-5" fill="white">
                            <use xlink:href="#path-4"></use>
                        </mask>
                        <use id="Mask" fill="#102339" xlink:href="#path-4"></use>
                    </g>
                    <g id="noun_Email_840459" transform="translate(722.000000, 229.000000)" fill="#FFA000" fill-rule="nonzero">
                        <g id="Group">
                            <path d="M28.3987926,0.00315621579 C28.164859,0.0238490116 27.9409684,0.10752831 27.7510653,0.245244823 L19.0269886,6.45885242 L11.0113636,6.45885242 C10.9709029,6.45696025 10.9303755,6.45696025 10.8899148,6.45885242 C10.222295,6.521564 9.71301756,7.08165337 9.71590909,7.74999166 L9.71590909,13.0961151 L0.546519886,19.6123334 C0.20502775,19.8535079 0.00146648871,20.2442459 0,20.6613841 L0,49.0664474 C0,49.7794944 0.580024358,50.3575866 1.29545455,50.3575866 L55.7045455,50.3575866 C56.4199756,50.3575866 57,49.7794944 57,49.0664474 L57,20.6613841 C56.9985335,20.2442459 56.7949722,19.8535079 56.4534801,19.6123334 L47.2840909,13.075941 L47.2840909,7.74999166 C47.2840194,7.03694465 46.7040666,6.45892364 45.9886364,6.45885242 L37.9730114,6.45885242 L29.2489347,0.245244823 C29.0028029,0.0676902655 28.7018884,-0.0179989061 28.3987926,0.00315621579 Z M28.5,2.86787141 L33.5401278,6.45885242 L23.4598722,6.45885242 L28.5,2.86787141 Z M12.3068182,9.0411309 L44.6931818,9.0411309 L44.6931818,25.4426341 L28.5,34.6621752 L12.3068182,25.42246 L12.3068182,9.0411309 Z M17.3671875,12.9145486 C16.9043001,12.9360817 16.488112,13.2021358 16.2754337,13.6124675 C16.0627555,14.0227992 16.0859069,14.515052 16.3361652,14.9037558 C16.5864234,15.2924597 17.0257577,15.5185447 17.4886364,15.4968271 L39.5113636,15.4968271 C39.97855,15.5034106 40.4131026,15.2587709 40.6486234,14.8565849 C40.8841442,14.4543988 40.8841442,13.9569769 40.6486234,13.5547909 C40.4131026,13.1526048 39.97855,12.9079651 39.5113636,12.9145486 L17.4886364,12.9145486 C17.4481757,12.9126565 17.4076482,12.9126565 17.3671875,12.9145486 Z M9.71590909,16.243267 L9.71590909,23.9497543 L3.70419034,20.5201657 L9.71590909,16.243267 Z M47.2840909,16.243267 L53.2958097,20.5403398 L47.2840909,23.9699284 L47.2840909,16.243267 Z M17.3671875,19.3702448 C16.9043001,19.3917779 16.488112,19.657832 16.2754337,20.0681637 C16.0627555,20.4784954 16.0859069,20.9707482 16.3361652,21.359452 C16.5864234,21.7481559 17.0257577,21.9742409 17.4886364,21.9525233 L39.5113636,21.9525233 C39.97855,21.9591068 40.4131026,21.7144671 40.6486234,21.3122811 C40.8841442,20.910095 40.8841442,20.4126731 40.6486234,20.0104871 C40.4131026,19.608301 39.97855,19.3636613 39.5113636,19.3702448 L17.4886364,19.3702448 C17.4481757,19.3683527 17.4076482,19.3683527 17.3671875,19.3702448 Z M2.59090909,22.8805296 L27.8522727,37.2646277 C28.2530949,37.495241 28.7469051,37.495241 29.1477273,37.2646277 L34.9772727,33.9359094 L49.7333097,45.8789474 C50.0888514,46.192897 50.588265,46.2877558 51.0347403,46.1261415 C51.4812156,45.9645272 51.8031549,45.5723566 51.8736874,45.1041774 C51.9442199,44.6359982 51.752035,44.1668885 51.3728693,43.8817163 L37.3860085,32.5640739 L54.4090909,22.8805296 L54.4090909,47.7753081 L4.91867898,47.7753081 L18.278054,36.962017 C18.7110163,36.6171816 18.8759529,36.036055 18.6883885,35.5162718 C18.5008242,34.9964887 18.0023036,34.653179 17.4481534,34.6621752 C17.1514599,34.6676543 16.8656453,34.7744778 16.6384943,34.964786 L2.59090909,46.3631246 L2.59090909,22.8805296 Z" id="Shape"></path>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
        <h3>Cadastre seu E-mail e receba <strong>ofertas e novidades exclusivas</strong></h3>
    </div>
    <div class="form">
        <form action="">
            <div class="form-news-popup-inputs">
                <input class="name" type="text" name="name" placeholder="Nome" />
                <input class="email" type="email" name="email" placeholder="E-mail" />
                
                <button type="submit" class="btn btn-primary">
                    Cadastrar
                </button>
                <span class="close-popup-news">Não quero receber descontos</span>
            </div>

            <span class="alert"></span>
            <p class="alert-message" style="display: none"></p>
        </form>
    </div>
</div>