﻿<ul class="list-unstyled list-inline">
    <li class="list-inline-item">
        <a href="" target="_blank">
            <span class="sr-only">Facebook</span>
            <i class="fab fa-facebook-f"></i>
        </a>
    </li>
    <li class="list-inline-item">
        <a href="" target="_blank">
            <i class="fab fa-twitter"></i>
            <span class="sr-only">twitter</span>
        </a>
    </li>
    <li class="list-inline-item">
        <a href="" target="_blank">
            <span class="sr-only">Instagram</span>
            <i class="fab fa-instagram"></i>
        </a>
    </li>
    <li class="list-inline-item">
        <a href="" target="_blank">
            <i class="fab fa-google-plus-g"></i>
            <span class="sr-only">google+</span>
        </a>
    </li>
</ul>