﻿<ul class="list-unstyled social-links">
    <li><a href="#" target="_Blank"><i class="fab fa-facebook-square fa-fw"></i> Facebook</a></li>
    <li><a href="#" target="_Blank"><i class="fab fa-youtube fa-fw"></i> Youtube</a></li>
    <li><a href="#" target="_Blank"><i class="fab fa-instagram fa-fw"></i> Instagram</a></li>
    <li><a href="#" target="_Blank"><i class="fab fa-twitter fa-fw"></i> Twitter</a></li>
    <li><a href="#" target="_Blank"><i class="fab fa-blogger-b fa-fw"></i> Blog</a></li>
</ul>