<!--
    * GPJ OFICIAL
    * @author Leonam Bernini [ADMAKE]
    * @version 1.0

    https://admake.com.br
-->
<nav id="header-nav">
    <div class="mask"></div>
    <div class="container">
        <ul class="header-nav-items d-lg-flex align-items-stretch justify-content-between">
            <li class="header-nav-item header-nav-item-all d-none d-lg-block">
                <a href="#" class="header-nav-link">
                    <span class="text">todos departamentos</span>
                </a>
                <div class="header-nav-sub-box">
                    <div class="container">
                        <ul class="header-nav-sub-items">
                            <li class="header-nav-sub-item refil-e-filtro-de-reposicao">
                                <a href="/game" class="header-nav-sub-link">Gamer</a>
                                <div class="all-departments-sub">
                                    <div class="sub-items">
                                        <h3>Gamer</h3>
                                        <div class="d-flex align-items-stretch justify-content-between">
                                            <ul>
                                                <li><a href="/game/consoles">Consoles</a></li>
                                                <li><a href="/game/jogos">Jogos</a></li>
                                                <li><a href="/game/joystick">Joystick</a></li>
                                            </ul>
                                            <div class="sub-banner">
                                                <vtex.cmc:bannerAllDepartmentUm />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sub-brands d-none">
                                        <h3>Compre por Marca</h3>
                                        <ul>
                                            <li><a href="/refil-filtro-de-reposicao/consul"><img src="/arquivos/marca-consul.png"
                                                        alt="Consul" width="59" height="16" /></a></li>
                                            <li><a href="/refil-filtro-de-reposicao/electrolux"><img src="/arquivos/marca-electrolux.png"
                                                        alt="Electrolux" width="84" height="20" /></a></li>
                                            <li><a href="/refil-filtro-de-reposicao/ibbl"><img src="/arquivos/marca-ibbl.png"
                                                        alt="IBBL" width="61" height="21" /></a></li>
                                            <li><a href="/refil-filtro-de-reposicao/lorenzetti"><img src="/arquivos/marca-lorenzetti.png"
                                                        alt="Lorenzetti" width="63" height="10" /></a></li>
                                            <li><a href="/refil-filtro-de-reposicao/samsung"><img src="/arquivos/marca-samsung.png"
                                                        alt="Samsung" width="80" height="12" /></a></li>
                                            <li><a href="/refil-filtro-de-reposicao/latina"><img src="/arquivos/marca-latina.png"
                                                        alt="Latina" width="63" height="21" /></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="header-nav-sub-item purificador-e-filtro-de-agua">
                                <a href="/computadores---notebooks" class="header-nav-sub-link">Computadores</a>
                                <div class="all-departments-sub">
                                    <div class="sub-items">
                                        <h3>Computadores</h3>
                                        <div class="d-flex align-items-stretch justify-content-between">
                                            <ul>
                                                <li><a href="/computadores---notebooks/acessorios">Acessórios</a></li>
                                                <li><a href="/computadores---notebooks/coolers">Coolers</a></li>
                                                <li><a href="/computadores---notebooks/desktop">Desktop</a></li>
                                                <li><a href="/computadores---notebooks/notebook---netbook">Notebook e Netbook</a></li>
                                                <li><a href="/computadores---notebooks/software">Software</a></li>
                                            </ul>
                                            <div class="sub-banner">
                                                <vtex.cmc:bannerAllDepartmentDois />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sub-brands d-none">
                                        <h3>Compre por Marca</h3>
                                        <ul>
                                            <li><a href="/purificador-e-filtro-de-agua/consul"><img src="/arquivos/marca-consul.png"
                                                        alt="Consul" width="59" height="16" /></a></li>
                                            <li><a href="/purificador-e-filtro-de-agua/electrolux"><img src="/arquivos/marca-electrolux.png"
                                                        alt="Electrolux" width="84" height="20" /></a></li>
                                            <li><a href="/purificador-e-filtro-de-agua/ibbl"><img src="/arquivos/marca-ibbl.png"
                                                        alt="IBBL" width="61" height="21" /></a></li>
                                            <li><a href="/purificador-e-filtro-de-agua/lorenzetti"><img src="/arquivos/marca-lorenzetti.png"
                                                        alt="Lorenzetti" width="63" height="10" /></a></li>
                                            <li><a href="/purificador-e-filtro-de-agua/planeta-agua"><img src="/arquivos/marca-planeta-agua.png"
                                                        alt="Planeta Água" width="56" height="23" /></a></li>
                                            <li><a href="/purificador-e-filtro-de-agua/3m"><img src="/arquivos/marca-3m.png"
                                                        alt="3M" width="40" height="21" /></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="header-nav-sub-item bebedouro-de-agua">
                                <a href="/eletronicos" class="header-nav-sub-link">Eletrônicos</a>
                                <div class="all-departments-sub">
                                    <div class="sub-items">
                                        <h3>Eletrônicos</h3>
                                        <div class="d-flex align-items-stretch justify-content-between">
                                            <ul>
                                                <li><a href="/eletronicos/automacao">Automação</a></li>
                                                <li><a href="/eletronicos/camera-digital---filmadora">Câmeras</a></li>
                                                <li><a href="/eletronicos/celular">Smartphone</a></li>
                                                <li><a href="/eletronicos/eletronicos">Eletrônicos</a></li>
                                                <li><a href="/eletronicos/fones-de-ouvido">Fones de Ouvido</a></li>
                                                <li><a href="/eletronicos/gps">GPS</a></li>
                                                <li><a href="/eletronicos/multimidias">Multimídia</a></li>
                                                <li><a href="/eletronicos/tablet">Tablet</a></li>
                                                <li><a href="/eletronicos/diversos">Diversos</a></li>
                                            </ul>
                                            <div class="sub-banner">
                                                <vtex.cmc:bannerAllDepartmentTres />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sub-brands d-none">
                                        <h3>Compre por Marca</h3>
                                        <ul>
                                            <li><a href="/bebedouro-de-agua/consul"><img src="/arquivos/marca-consul.png"
                                                        alt="Consul" width="59" height="16" /></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="header-nav-sub-item eletroportateis">
                                <a href="/hardware" class="header-nav-sub-link">Hardware</a>
                                <div class="all-departments-sub">
                                    <div class="sub-items">
                                        <h3>Hardware</h3>
                                        <div class="d-flex align-items-stretch justify-content-between">
                                            <ul>
                                                <li><a href="/hardware/ferramentas">Ferramentas</a></li>
                                                <li><a href="/hardware/memoria">Memória</a></li>
                                                <li><a href="/hardware/placa-de-video">Placa de Vídeo</a></li>
                                                <li><a href="/hardware/placa-mae">Placa Mãe</a></li>
                                                <li><a href="/hardware/processadores">Processadores</a></li> 
                                            </ul>
                                            <div class="sub-banner">
                                                <vtex.cmc:bannerAllDepartmentTres />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sub-brands d-none">
                                        <h3>Compre por Marca</h3>
                                        <ul>
                                            <li><a href="/eletroportateis/brastemp"><img src="/arquivos/marca-brastemp.png"
                                                        alt="Brastemp" width="80" height="9" /></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="header-nav-sub-item utilidades-domesticas">
                                <a href="/armazenamento" class="header-nav-sub-link">Armazenamento</a>
                                <div class="all-departments-sub">
                                    <div class="sub-items">
                                        <h3>Armazenamento</h3>
                                        <div class="d-flex align-items-stretch justify-content-between">
                                            <ul>
                                                <li><a href="/armazenamento/gaveta-HD---gaveta-DVD">Gavetas</a></li>
                                                <li><a href="/armazenamento/gravador-de-dvd---leitor-de-dvd">Gravadores e Leitores</a></li>
                                                <li><a href="/armazenamento/hd---hd-externo">HD e HD Externo</a></li>
                                                <li><a href="/armazenamento/pendrive---dvd">Pendrive e DVD</a></li>
                                            </ul>
                                            <div class="sub-banner">
                                                <vtex.cmc:bannerAllDepartmentTres />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sub-brands d-none">
                                        <h3>Compre por Marca</h3>
                                        <ul>
                                            <li><a href="/utilidades-domesticas/electrolux"><img src="/arquivos/marca-electrolux.png"
                                                        alt="Electrolux" width="84" height="20" /></a></li>
                                            <li><a href="/utilidades-domesticas/lorenzetti"><img src="/arquivos/marca-lorenzetti.png"
                                                        alt="Lorenzetti" width="63" height="10" /></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="header-nav-sub-item pecas-e-acessorios">
                                <a href="/cftv" class="header-nav-sub-link">Segurança</a>
                                <div class="all-departments-sub">
                                    <div class="sub-items">
                                        <h3>Segurança</h3>
                                        <div class="d-flex align-items-stretch justify-content-between">
                                            <ul>
                                                <li><a href="/cfvt/cameras---fontes---acessorios">Câmeras de CFTV</a></li>               
                                            </ul>
                                            <div class="sub-banner">
                                                <vtex.cmc:bannerAllDepartmentTres />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sub-brands d-none">
                                        <h3>Compre por Marca</h3>
                                        <ul>
                                            <li><a href="/pecas-e-acessorios/consul"><img src="/arquivos/marca-consul.png"
                                                        alt="Consul" width="59" height="16" /></a></li>
                                            <li><a href="/pecas-e-acessorios/electrolux"><img src="/arquivos/marca-electrolux.png"
                                                        alt="Electrolux" width="84" height="20" /></a></li>
                                            <li><a href="/pecas-e-acessorios/ibbl"><img src="/arquivos/marca-ibbl.png"
                                                        alt="IBBL" width="61" height="21" /></a></li>
                                            <li><a href="/pecas-e-acessorios/lorenzetti"><img src="/arquivos/marca-lorenzetti.png"
                                                        alt="Lorenzetti" width="63" height="10" /></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="header-nav-sub-item purificadores-para-casa">
                                <a href="/rede" class="header-nav-sub-link">Rede</a>
                                <div class="all-departments-sub">
                                    <div class="sub-items">
                                        <h3>Rede</h3>
                                        <ul>
                                            <li><a href="/red/wireless">Wireless</a></li>
                                        </ul>
                                        <div class="sub-banner">
                                            <vtex.cmc:bannerAllDepartmentTres />
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="header-nav-sub-item purificadores-para-empresa">
                                <a href="/perifericos---acessorios" class="header-nav-sub-link">Periféricos</a>
                                <div class="all-departments-sub">
                                    <div class="sub-items">
                                        <h3>Periféricos</h3>
                                        <ul>
                                            <li><a href="/perifericos---acessorios/adaptador--cabo">Adaptadores e Cabos</a></li>
                                            <li><a href="/perifericos---acessorios/caixa-de-som---home">Som</a></li>
                                            <li><a href="/perifericos---acessorios/energia">Energia</a></li>
                                            <li><a href="/perifericos---acessorios/gabinete---fonte">Gabinetes e Fontes</a></li>
                                            <li><a href="/perifericos---acessorios/hub-usb">HUB USB</a></li>
                                            <li><a href="/perifericos---acessorios/impressora---multifuncional---scanner">Impressoras e Multifuncionais</a></li>
                                            <li><a href="/perifericos---acessorios/monitores">Monitores</a></li>
                                            <li><a href="/perifericos---acessorios/suprimentos">Suprimentos</a></li>
                                            <li><a href="/perifericos---acessorios/webcam">Web-cam</a></li>
                                            <li><a href="/perifericos---acessorios/teclado---mouse">Teclado e Mouse</a></li>
                                        </ul>
                                        <div class="sub-banner">
                                            <vtex.cmc:bannerAllDepartmentTres />
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="header-nav-sub-item purificadores-para-empresa">
                                <a href="/usados" class="header-nav-sub-link">Usados</a>
                                <div class="all-departments-sub">
                                    <div class="sub-items">
                                        <h3>Usados</h3>
                                        <ul>
                                            <li><a href="/usados/componentes">Componentes</a></li>
                                            <li><a href="/usados/diversos">Diversos</a></li>
                                            <li><a href="/usados/eletronicos">Eletrônicos</a></li>
                                            <li><a href="/usados/micro---notebooks">Micros e Notebooks</a></li>
                                        </ul>
                                        <div class="sub-banner">
                                            <vtex.cmc:bannerAllDepartmentTres />
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>


            <li class="header-nav-item">
                <a href="/game" class="header-nav-link">
                    <span class="text">Gamer</span>
                </a>
                <div class="header-nav-sub-box">
                    <div class="container">
                        <div class="row">
                            <div class="col-links col-12 col-lg-4">
                                <h2 class="admake-navbar-title">Gamer</h2>
                                <ul class="header-nav-items lvl2">
                                    <li><a href="/game/consoles" class="link-lvl2">Consoles</a></li>
                                    <li><a href="/game/jogos" class="link-lvl2">Jogos</a></li>
                                    <li><a href="/game/joystick" class="link-lvl2">Joystick</a></li>
                                </ul>
                            </div>
                            <div class="col-links col-12 col-md-6 col-lg-4 d-lg-block d-none">
                                <ul class="header-nav-brands">
                                    <li><a href="/game/multilaser"><img src="/arquivos/multilaser.png"
                                                alt="Multilaser" width="90" height="10" /></a></li>
                                    <li><a href="/game/sony"><img src="/arquivos/sony.png"
                                                alt="Sony" width="74" height="13" /></a></li>
                                    <li><a href="/game/microsoft"><img src="/arquivos/microsoft.png"
                                                alt="Microsoft" width="76" height="16" /></a></li>
                                    <li><a href="/game/ibm"><img src="/arquivos/ibm.png"
                                                alt="IBM" width="50" height="20" /></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="header-nav-banner">
                        <vtex.cmc:bannerNavUm />
                    </div>
                </div>
            </li>

            <li class="header-nav-item">
                <a href="/computadores---notebooks" class="header-nav-link">
                    <span class="text">Computadores</span>
                </a>
                <div class="header-nav-sub-box">
                    <div class="container">
                        <div class="row">
                            <div class="col-links col-12 col-lg-4">
                                <h2 class="admake-navbar-title">Computadores</h2>
                                <ul class="header-nav-items lvl2">
                                    <li><a href="/computadores---notebooks/acessorios" class="link-lvl2">Acessórios</a></li>
                                    <li><a href="/computadores---notebooks/coolers" class="link-lvl2">Coolers</a></li>
                                    <li><a href="/computadores---notebooks/desktop" class="link-lvl2">Desktop</a></li>
                                    <li><a href="/computadores---notebooks/notebook---netbook" class="link-lvl2">Notebook e Netbook</a></li>
                                    <li><a href="/computadores---notebooks/software" class="link-lvl2">Software</a></li>
                                </ul>
                            </div>
                            <div class="col-links col-12 col-md-6 col-lg-4 d-lg-block d-none">
                                <ul class="header-nav-brands">
                                    <li><a href="/computadores---notebooks/sony"><img src="/arquivos/sony.png"
                                                alt="Sony" width="74" height="13" /></a></li>
                                    <li><a href="/computadores---notebooks/multilaser"><img src="/arquivos/multilaser.png"
                                                alt="Multilaser" width="90" height="10" /></a></li>
                                    <li><a href="/computadores---notebooks/microsoft"><img src="/arquivos/microsoft.png"
                                                alt="Microsoft" width="76" height="16" /></a></li>
                                    <li><a href="/computadores---notebooks/ibm"><img src="/arquivos/ibm.png"
                                                alt="IBM" width="50" height="20" /></a></li>
                                    <li><a href="/computadores---notebooks/acer"><img src="/arquivos/acer.png"
                                                alt="acer" width="54" height="13" /></a></li>
                                    <li><a href="/computadores---notebooks/asus"><img src="/arquivos/asus.png" alt="asus" width="73" height="15" /></a></li>
                                    <li><a href="/computadores---notebooks/cce"><img src="/arquivos/cce.png" alt="cce" width="68" height="14" /></a></li>
                                    <li><a href="/computadores---notebooks/brazil-pc"><img src="/arquivos/brazil-pc.png" alt="brazil pc" width="83" height="21" /></a></li>
                                    <li><a href="/computadores---notebooks/dell"><img src="/arquivos/dell.png" alt="dell" width="60" height="19" /></a></li>
                                    <li><a href="/computadores---notebooks/hp"><img src="/arquivos/hp.png" alt="hp" width="30" height="30" /></a></li>
                                    <li><a href="/computadores---notebooks/lenovo"><img src="/arquivos/lenovo.png" alt="lenovo" width="93" height="14" /></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="header-nav-banner">
                        <vtex.cmc:bannerNavDois />
                    </div>
                </div>
            </li>

            <li class="header-nav-item">
                <a href="/eletronicos" class="header-nav-link">
                    <span class="text">Eletrônicos</span>
                </a>
                <div class="header-nav-sub-box">
                    <div class="container">
                        <div class="row">
                            <div class="col-links col-12 col-lg-4">
                                <h2 class="admake-navbar-title">Eletrônicos</h2>
                                <ul class="header-nav-items lvl2">
                                    <li><a href="/eletronicos/automacao" class="link-lvl2">Automação</a></li>
                                    <li><a href="/eletronicos/camera-digital---filmadora" class="link-lvl2">Câmeras</a></li>
                                    <li><a href="/eletronicos/celular" class="link-lvl2">Smartphones</a></li>
                                    <li><a href="/eletronicos/eletronicos" class="link-lvl2">Eletrônicos</a></li> 
                                    <li><a href="/eletronicos/fones-de-ouvido" class="link-lvl2">Fones de Ouvido</a></li>
                                    <li><a href="/eletronicos/gps" class="link-lvl2">GPS</a></li> 
                                    <li><a href="/eletronicos/multimidias" class="link-lvl2">Multimídias</a></li> 
                                    <li><a href="/eletronicos/tablet" class="link-lvl2">Tablet</a></li>
                                    <li><a href="/eletronicos/diversos" class="link-lvl2">Diversos</a></li>                            
                                </ul>
                            </div>
                            <div class="col-links col-12 col-md-6 col-lg-4 d-lg-block d-none">
                                <ul class="header-nav-brands">
                                    <li><a href="/eletronicos/motorola"><img src="/arquivos/motorola.png"
                                                alt="motorola" width="111" height="10" /></a></li>
                                    <li><a href="/eletronicos/multilaser"><img src="/arquivos/multilaser.png"
                                                alt="Multilaser" width="90" height="10" /></a></li>
                                    <li><a href="/eletronicos/elgin"><img src="/arquivos/elgin.png"
                                                alt="elgin" width="58" height="13" /></a></li>
                                    <li><a href="/eletronicos/epson"><img src="/arquivos/epson.png"
                                                alt="epson" width="74" height="18" /></a></li>
                                    <li><a href="/eletronicos/lg"><img src="/arquivos/lg.png"
                                                alt="lg" width="59" height="30" /></a></li>
                                    <li><a href="/eletronicos/asus"><img src="/arquivos/asus.png" 
                                                alt="asus" width="73" height="15" /></a></li>
                                    <li><a href="/eletronicos/hp"><img src="/arquivos/hp.png" 
                                                alt="hp" width="30" height="30" /></a></li>
                                    <li><a href="/eletronicos/intelbras"><img src="/arquivos/intelbras.png" 
                                                alt="intelbras" width="78" height="15" /></a></li>
                                    <li><a href="/eletronicos/dell"><img src="/arquivos/dell.png" 
                                                alt="dell" width="60" height="19" /></a></li>
                                    <li><a href="/eletronicos/samsung"><img src="/arquivos/samsung.png" 
                                                alt="samsung" width="92" height="15" /></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="header-nav-banner">
                        <vtex.cmc:bannerNavTRES />
                    </div>
                </div>
            </li>

            <li class="header-nav-item">
                <a href="/hardware" class="header-nav-link">
                    <span class="text">Hardware</span>
                </a>
                <div class="header-nav-sub-box">
                    <div class="container">
                        <div class="row">
                            <div class="col-links col-12 col-lg-4">
                                <h2 class="admake-navbar-title">Hardware</h2>
                                <ul class="header-nav-items lvl2">
                                    <li><a href="/hardware/ferramentas" class="link-lvl2">Ferramentas</a></li>
                                    <li><a href="/hardware/memoria" class="link-lvl2">Memória</a></li>
                                    <li><a href="/hardware/placa-de-video" class="link-lvl2">Placa de Vídeo</a></li>
                                    <li><a href="/hardware/placa-mae" class="link-lvl2">Placa Mãe</a></li>
                                    <li><a href="/hardware/processadores" class="link-lvl2">Processadores</a></li>
                                </ul>
                            </div>
                            <div class="col-links col-12 col-md-6 col-lg-4 d-lg-block d-none">
                                <ul class="header-nav-brands">
                                    <li>
                                        <a href="/hardware/nvdia">
                                            <img src="/arquivos/nvdia.png" alt="nvdia" class="img-fluid" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/hardware/philco">
                                            <img src="/arquivos/philco.png" alt="philco" class="img-fluid" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/hardware/amd">
                                            <img src="/arquivos/amd.png" alt="amd" class="img-fluid" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/hardware/asus">
                                            <img src="/arquivos/asus.png" alt="asus" class="img-fluid" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/hardware/benq">
                                            <img src="/arquivos/benq.png" alt="benq" class="img-fluid" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/hardware/hp">
                                            <img src="/arquivos/hp.png" alt="HP" class="img-fluid" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/hardware/ibm">
                                            <img src="/arquivos/ibm.png" alt="ibm" class="img-fluid" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/hardware/intel">
                                            <img src="/arquivos/intel.png" alt="intel" class="img-fluid" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/hardware/kingston">
                                            <img src="/arquivos/kingston.png" alt="kingston" class="img-fluid" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/hardware/lenovo">
                                            <img src="/arquivos/lenovo.png" alt="lenovo" class="img-fluid" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/hardware/samsung">
                                            <img src="/arquivos/samsung.png" alt="samsung" class="img-fluid" />
                                        </a>
                                    </li>                                  
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="header-nav-banner">
                        <vtex.cmc:bannerNavQUATRO />
                    </div>
                </div>
            </li>

            <li class="header-nav-item">
                <a href="/armazenamento" class="header-nav-link">
                    <span class="text">Armazenamento</span>
                </a>
                <div class="header-nav-sub-box">
                    <div class="container">
                        <div class="row">
                            <div class="col-links col-12 col-md-9">
                                <h2 class="admake-navbar-title">Armazenamento</h2>
                                <ul class="header-nav-items lvl2">
                                    <li><a href="/armazenamento/gaveta-HD---gaveta-DVD" class="link-lvl2">Gavetas</a></li>
                                    <li><a href="/armazenamento/gravador-de-dvd---leitor-de-dvd" class="link-lvl2">Gravadores e Leitores</a></li>
                                    <li><a href="/armazenamento/hd---hd-externo" class="link-lvl2">HD e HD Externo</a></li>
                                    <li><a href="/armazenamento/pendrive---dvd" class="link-lvl2">Pendrive e DVD</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="header-nav-banner">
                        <vtex.cmc:bannerNavCINCO />
                    </div>
                </div>
            </li>

            <li class="header-nav-item">
                <a href="/cftv" class="header-nav-link">
                    <span class="text">Segurança</span>
                </a>
                <div class="header-nav-sub-box">
                    <div class="container">
                        <div class="row">
                            <div class="col-links col-12 col-md-9">
                                <h2 class="admake-navbar-title">Segurança</h2>
                                <ul class="header-nav-items lvl2">
                                    <li><a href="/cftv/cameras---fontes---acessorios"
                                            class="link-lvl2">Câmeras de CFTV</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="header-nav-banner">
                        <vtex.cmc:bannerNavSEIS />
                    </div>
                </div>
            </li>

            <li class="header-nav-item">
                <a href="/rede" class="header-nav-link">
                    <span class="text">Rede</span>
                </a>
                <div class="header-nav-sub-box">
                    <div class="container">
                        <div class="row">
                            <div class="col-links col-12 col-md-9">
                                <h2 class="admake-navbar-title">Rede</h2>
                                <ul class="header-nav-items lvl2">
                                    <li><a href="/rede/wireless"
                                            class="link-lvl2">Wireless</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="header-nav-banner">
                        <vtex.cmc:bannerNavSETE />
                    </div>
                </div>
            </li>

            <li class="header-nav-item">
                <a href="/perifericos---acessorios" class="header-nav-link">
                    <span class="text">Periféricos</span>
                </a>
                <div class="header-nav-sub-box">
                    <div class="container">
                        <div class="row">
                            <div class="col-links col-12 col-md-9">
                                <h2 class="admake-navbar-title">Periféricos</h2>
                                <ul class="header-nav-items lvl2">
                                    <li><a href="/perifericos---acessorios/adaptador--cabo" class="link-lvl2">Adaptadores e Cabos</a></li>
                                    <li><a href="/perifericos---acessorios/caixa-de-som---home" class="link-lvl2">Som</a></li>
                                    <li><a href="/perifericos---acessorios/energia" class="link-lvl2">Energia</a></li>
                                    <li><a href="/perifericos---acessorios/gabinete---fonte" class="link-lvl2">Gabinetes e Fontes</a></li>
                                    <li><a href="/perifericos---acessorios/hub-usb" class="link-lvl2">HUB USB</a></li>
                                    <li><a href="/perifericos---acessorios/impressora---multifuncional---scanner" class="link-lvl2">Impressoras e Multifuncionais</a></li>
                                    <li><a href="/perifericos---acessorios/monitores" class="link-lvl2">Monitores</a></li>
                                    <li><a href="/perifericos---acessorios/suprimentos" class="link-lvl2">Suprimentos</a></li>
                                    <li><a href="/perifericos---acessorios/webcam" class="link-lvl2">Web-cam</a></li>
                                    <li><a href="/perifericos---acessorios/teclado---mouse" class="link-lvl2">Teclado e Mouse</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="header-nav-banner">
                        <vtex.cmc:bannerNavOITO />
                    </div>
                </div>
            </li>

            <li class="header-nav-item">
                <a href="/usados" class="header-nav-link">
                    <span class="text">Usados</span>
                </a>
                <div class="header-nav-sub-box">
                    <div class="container">
                        <div class="row">
                            <div class="col-links col-12 col-md-9">
                                <h2 class="admake-navbar-title">Usados</h2>
                                <ul class="header-nav-items lvl2">
                                    <li><a href="/usados/componentes" class="link-lvl2">Componentes</a></li>
                                    <li><a href="/usados/diversos" class="link-lvl2">Diversos</a></li>
                                    <li><a href="/usados/eletronicos" class="link-lvl2">Eletrônicos</a></li>
                                    <li><a href="/usados/micro---notebooks" class="link-lvl2">Micro e Notebooks</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="header-nav-banner">
                        <vtex.cmc:bannerNavOITO />
                    </div>
                </div>
            </li>

            <div class="footer-navbar-mobile d-lg-none d-block">
                <ul>
                    <li class="footer-navbar-item monte-seu-pc">
                        <a href="/monte-seu-pc" class="header-nav-link">
                            <span class="text">Monte seu PC</span>
                        </a>
                    </li>
                    <li class="footer-navbar-item compre-por-atacado">
                        <a href="/" class="header-nav-link">
                            <span class="text">Comprar no Atacado</span>
                        </a>
                    </li>
                    <li class="footer-navbar-item">
                        <a href="/account" class="header-nav-link">
                            <span class="text">Minha Conta</span>
                        </a>
                    </li>
                    <li class="footer-navbar-item">
                        <a href="/" class="header-nav-link">
                            <span class="text">Meus Pedidos</span>
                        </a>
                    </li>
    
                </ul>
            </div>
            
        </ul>

        <!-- <div class="contact-nav-mobile d-block d-sm-none">
            <h5>Fale Conosco</h5>
            <ul class="list-unstyled">
                <li class="phone d-flex align-items-start">
                    <i class="fas fa-phone-volume"></i>
                    <span>
                    <vtex.cmc:phones /></span>
                </li>
                <li class="h-atendimento">
                    <span>Horário de Atendimento</span>
                    <span>
                    <vtex.cmc:horarioAtendimento /></span>
                </li>
            </ul>
            <h5>Siga-nos</h5>
            <vtex.cmc:socialLinks />
        </div> -->
    </div>
</nav>
<div class="mask-full"></div>