<!--
    * GPJ OFICIAL
    * @author Leonam Bernini [ADMAKE]
    * @version 1.0

    https://admake.com.br
-->
    
<div id="header-bar">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between flex-wrap flex-lg-nowrap">

            <div id="open-nav-mobile" class="d-block d-lg-none col-1">
                <button class="open-close-nav-mobile button-mobile">
                    <i class="fas fa-bars"></i>
                    <span>Menu</span>
                </button>
            </div>
            
            <div id="header-brand" class="col-lg-2 col-sm-5 col-6">
                <h1 class="brand">
                    <b class="sr-only"><vtex.cmc:storeName/></b>
                    <a href="/" class="d-block"><vtex.cmc:storeBrandImage/></a>
                </h1>
            </div>

            <div id="open-search-mobile" class="d-block d-lg-none">
                <button class="open-close-search-mobile button-mobile">
                    <i class="fas fa-search"></i>
                </button>
            </div>

            <div id="header-search" class="search-box col-xl-5 col-md-4">
                <vtex.cmc:fullTextSearchBox/>
            </div>

            <div class="contact-phone d-none d-md-block">
                <div class="d-flex align-items-center">
                    <i class="fas fa-headset"></i>
                    <div class="contact-options">
                        <span>Precisa de ajuda?</span>
                        <b><vtex.cmc:phone/></b>
                    </div>
                </div>
            </div>

            <div class="link-my-account">
                <div class="d-flex align-items-center">
                    <a href="/account">
                        <img data-src="/arquivos/icon-user.png" alt="Minha conta" width="23" height="25" class="lazy img-fluid"/>
                        <div class="account-options d-lg-block d-none">
                            <span>Olá, seja bem-vindo!</span>
                            <div class="d-flex align-items-center">
                                <a href="/account" title="Entrar">Entrar</a>
                                <!-- <span class="divisor">|</span>
                                <a href="/account/orders" title="Meus Pedidos">Cadastrar</a> -->
                            </div>
                        </div>    
                    </a>
                </div>
            </div>

            <div class="link-item-cart">
                <a href="/checkout/#/cart" class="admake-btn-smart-cart" title="Carrinho de Compras" data-admake="cart-sidebar" data-config="{'title': 'Carrinho'}">
                    <span class="icon">
                        <img data-src="/arquivos/icon-cart.png" alt="Minha conta" width="32" height="30" class="lazy img-fluid"/>
                        <span class="badge">0</span>
                    </span>
                </a>
            </div>

            <!-- <div id="header-search" class="search-box col-12 d-block d-lg-none">
                <vtex.cmc:fullTextSearchBox/>
            </div> -->

        </div>
    </div>
</div>