<!--
    * GPJ OFICIAL
    * @author Leonam Bernini [ADMAKE]
    * @version 1.0

    https://admake.com.br
-->

<div id="header-top-bar" class="d-none d-sm-block">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <div class="col-top-bar col-top-bar-2">
                <vtex.cmc:topBarUm/>
            </div>
            <div class="col-top-bar col-top-bar-2">
                <vtex.cmc:topBarDois/>
            </div>
        </div>
    </div>
</div>