<!--
    * GPJ OFICIAL
    * @author Leonam Bernini [ADMAKE]
    * @version 1.0

    https://admake.com.br
-->

<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<!--[if lt IE 9]>
  <script>
    document.createElement("header" );
    document.createElement("footer" );
    document.createElement("section"); 
    document.createElement("aside"  );
    document.createElement("nav"    );
    document.createElement("article"); 
    document.createElement("hgroup" ); 
    document.createElement("time"   );
  </script>
<![endif]-->

<!-- FAVICON -->
<link rel="icon" type="image/png" href="/arquivos/favicon.ico" />
<!-- /FAVICON -->

<!-- WEBFONTS -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800&amp;display=swap" rel="stylesheet" />
<!-- /WEBFONTS -->

<!-- BOOTSTRAP 4 -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
<!-- /BOOTSTRAP 4 -->

<!-- FONTAWESOME 5 -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" />
<!-- /FONTAWESOME 5 -->

<link rel="stylesheet" type="text/css" href="//cdn.admake.com.br/arquivos-vtex/gpj/arquivos/admake-styles.min.css"/>