﻿<!--
    * GPJ OFICIAL
    * @author Leonam Bernini [ADMAKE]
    * @version 1.0

    https://admake.com.br
-->

<div id="modal-newsletter" style="display: none">
    <div class="mask"></div>
    <div class="box-newsletter popup">
        <button class="btn-close-modal btn">
            <i class="far fa-times-circle"></i>
        </button>
        <vtex.cmc:newsLetterBox/>
    </div>
</div>

<footer id="footer">

    <div class="newsletter-box">
        <div class="container">
            <vtex.cmc:newsletterMasterData/>
        </div>
    </div>

    <div class="about-box">
        <div class="container">
            <div class="about-text">
                <vtex.cmc:aboutStore/>
            </div>
        </div>
    </div>
        
    <div class="footer-institucional-payments">
        <div class="container">
            <div class="row">
                
                <div class="col-departments links col-12 col-md-3">
                    <div class="accordion-content">
                        <h5 class="title-footer accordion-btn">Departamentos</h5>
                        <vtex.cmc:footerDepartments/>
                    </div>
                </div>
                
                <div class="col-institucional links col-12 col-md-3">
                    <div class="accordion-content">
                        <h5 class="title-footer accordion-btn">Institucional</h5>
                        <vtex.cmc:footerInstitucional/>
                    </div>
                </div>
                
                <div class="col-contacts col-12 col-md-3 col-lg-4">
                    <div class="accordion-content">
                        <h5 class="title-footer accordion-btn">Central de Atendimento</h5>
                        <ul class="list-unstyled">
                            <li class="phone d-flex align-items-center">
                                <i class="fas fa-headset"></i>
                                <span><vtex.cmc:phones/></span>
                            </li>
                            <li class="h-atendimento">
                                <span>Horário de Atendimento</span>
                                <span><vtex.cmc:horarioAtendimento/></span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-social col-12 col-md-3 col-lg-2">
                    <div class="accordion-content">
                        <h5 class="title-footer accordion-btn">Redes Sociais</h5>
                        <vtex.cmc:socialLinks/>
                    </div>
                </div>
            </div>

            <div class="row-payments-security">
                <div class="col-payments text-center">
                    <vtex.cmc:flagsPayments/>
                </div>
            </div>
            
        </div>
    </div>
    
    <div id="footer-copyright">
        <div class="container">
            <div class="d-flex align-items-center justify-content-between flex-sm-nowrap flex-wrap">
                <div class="copyright">
                    <vtex.cmc:footerCopyright/>
                </div>
                <div id="footer-signature">
                    <vtex.cmc:footerSignature/>
                </div>
            </div>
        </div>
    </div>
</footer>