<!--
    * GPJ OFICIAL
    * @author Leonam Bernini [ADMAKE]
    * @version 1.0

    https://admake.com.br
-->

<div id="monte-seu-pc">
    <h2>MONTE SEU PC <strong>Monte o PC Gamer ideal para jogar seus jogos preferidos</strong></h2>
    <div class="container">
        <ul>
            <li>
                <span class="icon">
                    <img data-src="/arquivos/monte-seu-pc-processador.png" alt="Processador" class="img-fluid lazy" width="48" height="48" />
                </span>
                <span class="text">Processador</span>
            </li>
            <li>
                <span class="icon">
                    <img data-src="/arquivos/monte-seu-pc-placa-mae.png" alt="Placa-Mãe" class="img-fluid lazy" width="48" height="48" />
                </span>
                <span class="text">Placa-Mãe</span>
            </li>
            <li>
                <span class="icon">
                    <img data-src="/arquivos/monte-seu-pc-memoria.png" alt="Memória" class="img-fluid lazy" width="65" height="48" />
                </span>
                <span class="text">Memória</span>
            </li>
            <li>
                <span class="icon">
                    <img data-src="/arquivos/monte-seu-pc-placa-video.png" alt="Placa de Vídeo" class="img-fluid lazy" width="54" height="48" />
                </span>
                <span class="text">Placa de Vídeo</span>
            </li>
            <li>
                <span class="icon">
                    <img data-src="/arquivos/monte-seu-pc-hd.png" alt="HD" class="img-fluid lazy" width="41" height="48" />
                </span>
                <span class="text">HD</span>
            </li>
            <li>
                <span class="icon">
                    <img data-src="/arquivos/monte-seu-pc-ssd.png" alt="SSD" class="img-fluid lazy" width="37" height="48" />
                </span>
                <span class="text">SSD</span>
            </li>
            <li>
                <span class="icon">
                    <img data-src="/arquivos/monte-seu-pc-cooler.png" alt="COOLER" class="img-fluid lazy" width="48" height="48" />
                </span>
                <span class="text">COOLER</span>
            </li>
            <li>
                <span class="icon">
                    <img data-src="/arquivos/monte-seu-pc-fonte.png" alt="Fonte" class="img-fluid lazy" width="63" height="42" />
                </span>
                <span class="text">Fonte</span>
            </li>
            <li>
                <span class="icon">
                    <img data-src="/arquivos/monte-seu-pc-gabinete.png" alt="Gabinete" class="img-fluid lazy" width="31" height="57" />
                </span>
                <span class="text">Gabinete</span>
            </li>
            <li>
                <span class="icon">
                    <img data-src="/arquivos/monte-seu-pc-monitor.png" alt="Monitor" class="img-fluid lazy" width="57" height="40" />
                </span>
                <span class="text">Monitor</span>
            </li>
        </ul>
        <a href="/monte-seu-pc" title="Monte agora seu pc!">MONTE AGORA!</a>
    </div>
</div>