<!--
    * GPJ OFICIAL
    * @author Leonam Bernini [ADMAKE]
    * @version 1.0

    https://admake.com.br
-->
<script type="text/javascript" src="//cdn.admake.com.br/arquivos-vtex/gpj/arquivos/admake-youtube-player.min.js"></script>
<script type="text/javascript" src="//cdn.admake.com.br/arquivos-vtex/gpj/arquivos/admake-default.min.js"></script>