div.admake-compare{
    margin: 65px 0 150px;
    h2{
        text-align: center;
        font-weight: $semiBold;
        font-size: 15px;
        color: #3C6895;
        line-height: 20px;
        text-align: center;
        text-transform: uppercase;
        margin: 0 0 50px;
        strong{
            font-weight: $semiBold;
            font-size: 36px;
            color: #16314F;
            line-height: 36px;
            display: block;
            @media all and (max-width: 575px){
                font-size: 30px;
                line-height: 30px;
            }
        }
        @media all and (max-width: 575px){
            margin: 0 0 35px;
        }
    }
    .comparar-outros{
        display: none;
    }
    .topWrapper{

    }
    .corpo-comparacao{
        table{
            width: 100%;
            thead{
                .remover{
                    display: none;  
                }
                tr{
                    @media all and (max-width: 767px){
                        display: flex;
                        justify-content: space-between;
                        th{
                            width: initial;
                            .produto{
                                height: 100%;
                                position: relative;
                                padding-bottom: 115px;
                                .ad-showcase-product {
                                    .product-price{
                                        position: absolute;
                                        left: 0;
                                        right: 0;
                                        padding: 0 5px;
                                        bottom: 60px;
                                    }
                                    .product-buy {
                                        a{
                                            position: absolute;
                                            left: 0;
                                            right: 0;
                                            bottom: 0;
                                            margin: 0;
                                            font-size: 15px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                th{
                    vertical-align: middle;
                    border-top: 1px solid #EEEEEE;
                    border-right: 1px solid #EEEEEE;
                    width: 25%;
                    &:first-child{
                        border: 0 none;
                        background: #102339;
                        font-weight: $semiBold;
                        font-size: 21px;
                        color: #FFFFFF;
                        line-height: 24px;
                        text-transform: uppercase;
                        padding: 20px;
                        @media all and (max-width: 767px){
                            display: none;
                        }
                    }
                    .produto{
                        max-width: 240px;
                        display: block;
                        margin: 25px auto;
                    }
                    @media all and (max-width: 767px){
                        padding: 0 5px;
                        border: none;
                        vertical-align: initial;
                        .produto{
                            box-shadow: 0 10px 10px 0 rgba(0,0,0,0.1);
                            padding: 5px;
                            margin: 0;
                        }
                    }
                }
                .admake-compare-items{
                    .ad-showcase-product{
                        .product-image{
                            a{
                                display: block;
                            }
                            img{
                                display: block;
                                margin: auto;
                                max-width: 100%;
                                width: auto;
                                height: auto;
                            }
                        }
                        .product-name{
                            margin-top: 10px;
                            min-height: 56px;
                            a{
                                font-weight: $regular;
                                font-size: 12px;
                                color: #5C7189;
                                line-height: 14px;
                                display: block;
                            }
                        }
                        .product-price{
                            a{
                                .old-price{
                                    font-weight: $regular;
                                    font-size: 13px;
                                    color: #5C7189;
                                    line-height: 20px;
                                    display: block;
                                    min-height: 20px;
                                    text-decoration: line-through;
                                }
                                .best-price{
                                    font-weight: $semiBold;
                                    font-size: 20px;
                                    color: #3C6895;
                                    line-height: 26px;
                                    display: block;
                                    @media all and (max-width: 575px){
                                        font-size: 18px;
                                    }
                                }
                            }
                        }
                        .product-buy{
                            a{
                                display: block;
                                background: #60AF44;
                                font-weight: $semiBold;
                                font-size: 16px;
                                color: #FFFFFF;
                                line-height: 20px;
                                height: 50px;
                                padding: 15px 10px;
                                border-radius: 0;
                                text-align: center;
                                text-transform: uppercase;
                                margin-top: 15px;
                                &:hover{
                                    background: darken(#60AF44, 5%);
                                }
                            }   
                        }
                    }
                }
            }
            tbody{
                > tr{
                    &.remover,
                    &:first-child{
                        display: none!important;
                    }
                    &.atributos{
                        th, td{
                            background: #EEEEEE;
                            border: 1px solid #fff;
                            padding: 10px 15px;
                            font-size: 12px;
                            line-height: 20px;
                        }
                        th{
                            font-weight: $semiBold;
                            color: #16314F;
                            text-transform: uppercase;
                        }
                        td{
                            font-weight: $regular;
                            color: #5C7189;
                        }
                    }
                }
            }
        }   
        @media all and (max-width: 575px){
            overflow-y: auto;
            table {
                thead {
                    tr {
                        th{
                            min-width: 140px;
                        }
                    }
                }
            }
        }
    }
    @media all and (max-width: 767px){
        margin-bottom: 30px;
    }
}