.contact-content{
    margin-bottom: 70px;
    .alert{
        margin: 0;
        min-height: 46px;
        border-radius: 0;
        padding: 13px 15px;
        line-height: 20px;
    }
    select{
        &.form-control{
            @media all and (max-width:575px){
                background: url(//gpjoficial.vteximg.com.br/arquivos/icon-select-form.png) no-repeat scroll right center #EAEEF2;
                background-size: 12px;
                background-position: 95%;
            }
        }
    }
}

#ct-mesage{
    min-height: 238px;
}

#send-form-contact{
    background: #FFA000;
    font-weight: $semiBold;
    text-transform: uppercase;
    font-size: 17px;
    color: #FFFFFF;
    line-height: 50px;
    padding: 0;
    width: 170px;
    height: 46px;
    border: 0 none;
    border-radius: 0;
    &:hover{
        background: darken(#FFA000, 10%);
    }
    @media all and (max-width: 575px){
        width: 100%;
    }
}