﻿// @import 'components/_priceRange.scss';
#page-department {

    .pages,
    .resultado-busca-numero{
        display: none!important;
    }

    &.admake-search{
        .department-row{
            margin-top: 25px;
        }
        .bread-crumb{
            display: none!important;
        }
        .col-navigator{
            .menu-departamento{
                h3{
                    display: block;
                    padding: 0 0 5px;
                    a{
                        margin: 15px 0 10px;
                        padding: 15px 0 0;
                        font-weight: 700;
                        font-size: 14px;
                        color: #013365;
                        &:hover{
                            color: darken(#013365, 15%);
                        }
                    }
                }
                ul{ 
                    padding: 0 0 15px;
                    li{
                        padding: 3px 0;
                        a{
                            font-weight: 400;
                            font-size: 13px;
                            color: #768C9A;
                            line-height: 20px;
                            &:hover{
                                color: #0076AA;
                            }
                        }
                    }
                }
            }
        }
    }
    #close-filter-mobile{
        font-weight: $bold;
        font-size: 12px;
        color: #666666;
        letter-spacing: 0;
        text-align: left;
        text-transform: uppercase;
        border: 0 none;
        border-radius: 0;
        background: transparent;
        width: 100%;
        height: 35px;
        cursor: pointer;
        .fa-filter{
            margin-right: 4px;
        }
        .fa-times{
            float: right;
        }
    }
    #open-filter-mobile{
        margin: 0 8px;
        width: calc(50% - 16px);
        text-align: center;
        font-weight: $bold;
        font-size: 12px;
        color: #666666;
        line-height: 35px;
        text-transform: uppercase;
        border: 1px solid #EDEBEA;
        border-radius: 0;
        cursor: pointer;
        background: #FAFAFA;
        background: -moz-linear-gradient(top, #FAFAFA 0%, #e8e8e8 100%);
        background: -webkit-linear-gradient(top, #FAFAFA 0%, #e8e8e8 100%);
        background: linear-gradient(to bottom, #FAFAFA 0%, #e8e8e8 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FAFAFA', endColorstr='#e8e8e8',GradientType=0 );
        i{
            margin-right: 4px;
        }
    }

    .department-header{
        .box-banner{
            a{
                display: block;
                img{
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
    .col-navigator{
        h2{
            font-weight: $bold;
            font-size: 14px;
            color: #013365;
            line-height: 20px;
            margin: 0 0 10px;
            text-transform: uppercase;
        }
        @media( max-width: 767px ){
            visibility: hidden;
            opacity: 0;
            height: 0;
            transition: 300ms all;
            &.active-mobile{
                visibility: visible;
                opacity: 1;
                height: auto;
                position: fixed;
                top: 0;
                bottom: 0;
                z-index: 1080;
                background: #FFFFFF;
                max-width: 260px;
                overflow: auto;
                padding: 0;
                #close-filter-mobile{
                    background: rgba(234, 238, 242, 0.5);
                    padding: 23px 15px;
                    height: initial;
                    color: $color1;
                    font-size: 13px;
                    font-weight: $semiBold;
                    line-height: 16px;
                }
                #department-navigator{
                    padding: 0 15px;
                    .search-single-navigator{
                        h4{
                            padding: 5px 0;
                            a{
                                color: $color2;
                                font-weight: $bold;
                                font-size: 16px;
                                line-height: 49px;
                            }
                        }
                    }
                }
                .mask{
                    background: rgba(0,0,0,0.7);
                    position: fixed;
                    left: 260px;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    &:before{
                        @include fontAwesome('\f00d', 'fas');
                        position: absolute;
                        text-align: center;
                        background: #16314F;
                        color: #FFFFFF;
                        width: 60px;
                        height: 60px;
                        border-radius: 0;
                        top: 0;
                        font-size: 20px;
                        line-height: 58px;
                        right: initial;
                        left: 0;
                    }
                }
            }
        }
        .menu-navegue{
            display: none;   
        }
        .department-range{
            display: none;
        }
        #department-navigator{
            
        }
        .search-single-navigator{
            h3{
                display: none;
            }
            h4{
                padding: 6px 0;
                a{
                    font-weight: $regular;
                    font-size: 13px;
                    color: #768C9A;
                    line-height: 20px;
                    &:hover{
                        color: #0076AA;
                    }
                }
            }
            h5{
                margin: 15px 0 10px;
                padding: 15px 0 0;
                font-weight: $bold;
                font-size: 14px;
                color: #013365;
                text-transform: uppercase;
                border-top: 1px solid #E8EDEF;
                line-height: 20px;
                & + ul{
                    visibility: visible;
                    opacity: 1;
                    height: auto;
                    display: block;
                    transition: 300ms all;
                    li{
                        display: block;
                        padding: 3px 0;
                    }
                    a{
                        font-size: 13px;
                        color: #768C9A;
                        line-height: 20px;
                        display: block;
                        &:before{
                            @include fontAwesome('\f111', 'far');
                            color: #D8D8D8;
                            font-size: 12px;
                            display: inline-block;
                            vertical-align: middle;
                            margin: -2px 5px 0 0;
                            transition: 300ms all;
                        }
                        &:hover{
                            color: darken(#768C9A, 15%);
                            &:before{
                                @include fontAwesome('\f28d', 'fas');
                                display: inline-block;
                                vertical-align: middle;
                                color: #013365;
                                font-size: 12px;
                            }
                        }
                    }
                }
                &.hide{
                    &:after{
                        transform: scaleY(1);
                    }
                    & + ul{
                        overflow: hidden;
                        visibility: hidden;
                        opacity: 0;
                        height: 0;
                        padding: 0 15px;
                    }
                }
            }
        }
    }
    .department-row {
        .col-showcase {
            .resultItemsWrapper + .searchResultsTime + .sub,
            .compare,
            .filterBy,
            .searchResultsTime{
                display: none!important;
            }
            > .titulo-sessao{
                font-weight: $bold;
                font-size: 20px;
                color: #FFA000;
                line-height: 20px;
                text-transform: uppercase; 
                padding: 15px 0;
            }
            .resultado-busca-filtro{
                text-align: right;
                margin-top: -50px;
                position: relative;
                z-index: 2;
                @media all and (max-width: 575px){
                    margin-top: 0;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;                
                }
                .orderBy{
                    label, select, label:before{
                        display: inline-block;
                        vertical-align: middle;
                    }
                    label{
                        font-size: 0;
                        line-height: 0;
                        color: transparent;
                        &:before{
                            content: "Ordenar";
                            font-weight: $regular;
                            font-size: 14px;
                            color: #5C7189;
                            letter-spacing: 0;
                        }
                    }   
                    select{
                        height: 50px;
                        background-color: #395270;
                        background-size: 51px 50px;
                        width: 216px;
                        border-radius: 0;
                        font-weight: $regular;
                        font-size: 12px;
                        color: #FFFFFF;
                        line-height: 50px;

                        @media all and (max-width: 575px){
                            height: 45px;
                            color: $color1;
                            font-size: 15px;
                            padding: 0 10px;
                            background: url(//gpjoficial.vteximg.com.br/arquivos/icon-select-mobile.png) no-repeat scroll left center #EAEEF2;
                            background-size: 16px;
                            background-position: 15px;
                            padding: 0 15px;
                            padding-left: 35px;
                            width: initial;
                        }
                    }
                    @media all and (max-width: 575px){
                        margin-left: 10px;
                    }
                }
            }
            #open-filter-mobile{
                min-width: 47%;
                border: 0 none;
                border-radius: 3px;
                font-weight: $regular;
                padding: 0;
                letter-spacing: 0;
                text-align: center;
                margin: 0;
                background: #EAEEF2;
                border-radius: 0;
                color: #16314F;
                font-size: 15px;
                height: 45px;
            }
            .admake-showcase{
                margin-top: 20px;
            }
            .orderBy{
                // @media( max-width: 575px ){
                //     width: 46%;
                //     margin: 0;
                // }
                label, select{
                    display: inline-block;
                    vertical-align: middle;
                }
                label{
                    margin: 0 5px 0 0;
                    @media( max-width: 767px ){
                        display: none!important;
                    }
                }
                select{
                    @media( max-width: 767px ){
                        width: 100%;
                        max-width: 100%;
                        min-width: auto;
                        height: 35px;
                        border: 0 none;
                        margin: 0;
                        border-radius: 3px;
                        font-weight: $medium;
                        font-size: 11px;
                        color: #3B4850;
                    }
                }
            }
            
            #department-showcase {
                margin-top: 0;
                .admake-compare-box{
                    display: block;
                }
            }
        }
    }
    .department-description{
        margin: 30px 0 15px;
        display: none;
        line-height: 23px;
        @media( min-width: 768px ){
            display: block;
        }
        p{
            font-weight: $regular;
            font-size: 14px;
            color: #768C9A;
            line-height: 22px;
        }
        h4{
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
            margin: 15px 0 6px;
        }
    }
    #handle-scroll{
        display: block;
        max-width: 262px;
        width: 100%;
        height: 46px;
        margin: 30px auto;
        background: #FFA000;
        box-shadow: 0 8px 20px 0 rgba(44,44,44,4/10)!important;
        font-weight: $bold;
        font-style: italic;
        font-size: 14px;
        color: #FFFFFF;
        line-height: 46px;
        text-align: center;
        text-transform: uppercase;
        &:hover{
            background: darken(#FFA000, 5%);
        }
        @media all and (max-width: 575px){
            margin: 47px auto;
        }
    }
    #returnToTop{
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 1050;
    }
}