﻿#page-home {
    #full-banner,
    #full-banner-mobile {
        line-height: 0;
        margin-bottom: -2px;
        .slick-arrow {
            background: #013365;
            color: #fff;
            opacity: .6;
            cursor: pointer;
            i{
                display: block;
                line-height: 33px;
            }
            &.slick-prev {
                left: 20px;
            }
            &.slick-next {
                right: 20px;
            }
            &:hover {
                opacity: 1;
            }
        }
        .slick-dots {
            position: absolute;
            bottom: 15px;
            left: 0;
            right: 0;
            margin: 0;
        }
    }

    #mini-banner-02,
    #mini-banner-01{
        .row{
            margin: 0;
        }
        a{
            display: block;
            overflow: hidden;
            img{
                transition: 300ms all;
            }
            &:hover{
                img{
                    transform: scale(1.02);
                }
            }
        }
    }
    #mini-banner-02-mobile{
        margin-top: 50px;
        margin-bottom: 65px;
        .box-banner{
            margin-bottom: -2px;
        }
    }

    #mini-banner-01{
        background: $color3;
        .row{
            > div{
                -ms-flex: 0 0 33.333333%;
                flex: 0 0 33.333333%;
                max-width: 33.333333%;
            }
        }
    }
    #mini-banner-02{
        .row{
            > div{
                -ms-flex: 0 0 50%;
                flex: 0 0 50%;
                max-width: 50%;
            }
        }
    }

    #mini-banner-01-mobile{
        > .container{
            background: $color3;
            .box-banner{
                margin-bottom: -2px;
            }
        }
    }

    .showcase-home-1{
        background: $color3;
        padding: 40px 0;
        margin: 0;
        h2{
            font-weight: $semiBold;
            font-size: 22px;
            color: #FFFFFF;
            line-height: 30px;
            text-transform: uppercase;
            text-align: center;
            @media all and (max-width:575px){
                font-size: 18px;
            }
        }
    }

    #home-brands{
        background: #16314F;
        padding: 48px 0;
        .container{
            @media all and (min-width:992px){
                display: -ms-flexbox!important;
                display: flex!important;
                -ms-flex-align: center!important;
                align-items: center!important;    
            }
            @media all and (max-width:767px){
                padding: 0;
            }
        }
        h2{
            font-weight: $semiBold;
            font-size: 15px;
            color: #FFFFFF;
            line-height: 20px;
            min-width: 195px;
            text-transform: uppercase;
            @media all and (max-width:991px){
                margin-bottom: 20px;
            }
            @media all and (max-width:575px){
                font-size: 13px;
                text-align: center;
            }
        }
        .brands-carousel{
            width: 100%;
            .slick-arrow{
                @media all and (max-width:991px){
                    width: initial;
                    height: initial;
                    margin-top: -25px;
                    top: 0;
                    bottom: 0;
                }
                @media all and (max-width:767px){
                    display: none !important;
                }
            }
            .slick-track{
                display: -ms-flexbox!important;
                display: flex!important;
                -ms-flex-align: center!important;
                align-items: center!important;
            }
            .box-banner{
                a{
                    display: table;
                    margin: auto;
                    img{
                        display: block;
                        margin: auto;
                        filter: brightness(0) invert(1);
                        opacity: .3;
                        transition: 300ms all;
                    }
                    &:hover{
                        img{
                            filter: none;
                            opacity: 1;
                        }
                    }
                }
                @media all and (max-width:767px){
                    padding: 0 35px;
                }
            }
        }
        @media all and (max-width:575){
            padding: 25px 0;
        }
    }
}

#monte-seu-pc{
    padding: 20px 0 65px;
    h2{
        background: bg($image: 'bg-monte-seu-pc.png', $color: #102339);
        background-size: cover;
        font-weight: $extraBold;
        font-size: 75px;
        color: #FFFFFF;
        text-align: center;
        line-height: 80px;
        padding: 78px 0 89px;
        margin: 0;
        strong{
            display: block;
            font-weight: $medium;
            font-size: 18px;
            color: #FFFFFF;
            line-height: 20px;
            @media all and (max-width:575px){
                font-size: 15px;
                line-height: 19px;
                max-width: 238px;
                margin: 0 auto;
            }
        }
        @media all and (max-width:575px){
            font-size: 50px;
            line-height: 46px;
            padding: 78px 10px 89px;
        }
    }
    ul{
        margin: -60px 0 0;
        // display: -ms-flexbox!important;
        // display: flex!important;
        // -ms-flex-pack: justify!important;
        // justify-content: space-between!important;
        li{
            padding: 0;
            margin: 0;
            .icon{
                background: bg('bg-icons.png', top center);
                background-size: cover;
                width: 100%;
                max-width: 115px;
                height: 115px;
                position: relative;
                display: block;
                // background: #3C6895;
                margin: 0 auto;
                img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                    // top: 50%;
                    // left: 50%;
                    // transform: translate(-50%, -50%);
                }
                // &:before{
                //     content: "";
                //     position: absolute;
                //     top: -50px;
                //     left: 0;
                //     width: 0;
                //     height: 0;
                //     border-left: 100px solid transparent;
                //     border-right: 100px solid transparent;
                //     border-bottom: 50px solid #3C6895;
                // }
                // &:after{
                //     content: "";
                //     position: absolute;
                //     bottom: -50px;
                //     left: 0;
                //     width: 0;
                //     height: 0;
                //     border-left: 100px solid transparent;
                //     border-right: 100px solid transparent;
                //     border-top: 50px solid #3C6895;
                // }
            }
            .text{
                display: block;
                font-weight: $medium;
                font-size: 13px;
                color: #5C7189;
                line-height: 20px;
                text-align: center;
                margin-top: 12px;
                text-transform: uppercase;
            }
        }
    }
    a{
        background: #FFA000;
        box-shadow: 0 8px 20px 0 rgba(44,44,44,0.37);
        font-weight: $semiBold;
        font-style: italic;
        font-size: 17px;
        color: #FFFFFF;
        text-transform: uppercase;
        text-align: center;
        width: 222px;
        height: 46px;
        line-height: 20px;
        padding: 13px;
        display: block;
        margin: 45px auto 0;
        &:hover{
            background: darken(#FFA000, 5%);
        }
    }
    @media all and (max-width: 575px){
        padding: 0;
        padding-bottom: 65px;
    }
}

.admake-banner-popup{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999999999;
    .mask{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        background: rgba(0,0,0,7/10);
        &:before{
            @include fontAwesome('\f00d', 'fas');
            position: absolute;
            top: 15px;
            right: 15px;
            width: 50px;
            height: 50px;
            border: 0 none;
            box-shadow: 0 0 0 transparent;
            background: transparent;
            color: #fff;
            text-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
            font-size: 30px;
            line-height: 50px;
            padding: 0;
            cursor: pointer;
        }
    }
    .content{
        background: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 96%;
        max-height: 90%;
        z-index: 2;
        @media( min-width: 768px ){
            max-width: 900px;
        }
        img{
            max-width: 100%;
            height: auto;
        }
    }
}
