﻿// institucional

.institucional-content {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#eaeef2+0,eaeef2+30,ffffff+30 */
  background: #fff; /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #eaeef2 0%,
    #eaeef2 30%,
    #ffffff 30%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #eaeef2 0%,
    #eaeef2 30%,
    #ffffff 30%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #eaeef2 0%,
    #eaeef2 30%,
    #ffffff 30%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeef2', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */

  .admake-quem-somos & {
    background: #eeeeee;
    .quem-somos-header {
      position: relative;
      background: #102339;
      padding-top: 93px;
      .img-background {
        img {
          position: absolute;
          right: 0;
          left: 0;
          top: 0;
          margin: auto;
          z-index: 0;
        }
      }
      .header-title {
        z-index: 1;
        margin: auto;
      }
      h3 {
        font-weight: 600;
        font-size: 22px;
        color: #ffffff;
        letter-spacing: 0;
        text-align: center;
        line-height: 22px;
        z-index: 1;
        width: 100%;
        margin: 0;
        margin-bottom: 9px;
      }
      h1 {
        font-weight: 600;
        font-size: 60px;
        color: #ffffff;
        letter-spacing: 0;
        text-align: center;
        line-height: 60px;
        z-index: 1;
        width: 100%;
        margin: 0;
        @media (max-width: 767px) {
          margin-bottom: 30px;
        }
      }
      .header-imgs {
        position: relative;
        .img-1 {
          position: absolute;
          right: 60px;
          bottom: -60px;
          z-index: 1;
        }
        .img-2 {
          position: absolute;
          bottom: -35px;
          left: 15px;
          width: 80%;
          max-width: 400px;
          height: auto;
          @media (max-width: 992px) {
            bottom: 30%;
          }
          @media (max-width: 767px) {
            position: relative;
            top: 0;
          }
        }
      }
      .header-text {
        padding-bottom: 86px;
        padding-top: 90px;
        p {
          font-weight: 400;
          font-size: 16px;
          color: #ffffff;
          letter-spacing: 0;
          line-height: 33px;
          margin-bottom: 50px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
    .quem-somos-content {
      .content-text {
        padding-top: 106px;
        padding-bottom: 140px;
        @media (max-width: 767px) {
          padding-bottom: 30px;
        }
        p {
          font-weight: 400;
          font-size: 16px;
          color: #5c7189;
          letter-spacing: 0;
          line-height: 33px;
          margin-bottom: 45px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      .content-imgs {
        position: relative;
        .img-1 {
          position: absolute;
          right: 20px;
          top: -44px;
          @media (max-width: 1200px) {
            right: -60px;
          }
          @media (max-width: 992px) {
            position: relative;
          }
          @media (max-width: 767px) {
            display: block;
            margin: auto;
            top: 0;
            right: 0;
          }
        }
        .img-2 {
          position: absolute;
          left: 15px;
          top: 13px;
          @media (max-width: 992px) {
            top: 226px;
          }
          @media (max-width: 767px) {
            position: relative;
            float: right;
            top: 0;
            left: 0;
          }
        }
        .img-3 {
          position: absolute;
          top: 236px;
          right: 0;
          left: 0;
          margin: auto;
          @media (max-width: 992px) {
            right: -50px;
            margin: 0;
            top: 426px;
            left: unset;
          }
          @media (max-width: 767px) {
            position: relative;
            float: left;
            top: 0;
            right: 0;
          }
        }
      }
      h2 {
        font-weight: 600;
        font-size: 22px;
        color: #16314f;
        letter-spacing: 0;
        margin-bottom: 34px;
      }
      .premios {
        padding-bottom: 150px;
        .premio-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin-top: 10px;
          @media (max-width: 767px) {
            margin-top: 18px;
          }
          img {
            max-width: 225px;
            height: auto;
          }
          p {
            font-weight: 400;
            font-size: 14px;
            color: #5c7189;
            letter-spacing: 0;
            text-align: center;
            margin-top: 23px;
            max-width: 207px;
            @media (max-width: 767px) {
              margin-top: 10px;
            }
          }
        }
      }
      .patrocinios {
        padding-bottom: 339px;
        @media (max-width: 767px) {
          padding-bottom: 100px;
        }
        p {
          font-weight: 400;
          font-size: 16px;
          color: #5c7189;
          letter-spacing: 0;
          line-height: 33px;
        }
      }
    }
  }

  .col-nav {
    background: #eaeef2;
    padding-top: 45px;
    padding-bottom: 125px;
    padding-right: 0;
    h2 {
      font-weight: $semiBold;
      font-size: 16px;
      color: #16314f;
      line-height: 20px;
      margin: 0 0 15px 0;
      text-transform: uppercase;
      padding: 0 10px;
    }
    ul {
      li {
        a {
          display: block;
          font-weight: $regular;
          font-size: 13px;
          color: #7b8ea2;
          line-height: 13px;
          padding: 20px 10px;
          background: transparent;
          &:hover {
            color: #ffa000;
            font-weight: $semiBold;
            background: #16314f;
          }
        }
      }
    }
  }
  .col-text {
    padding-top: 45px;
    padding-bottom: 125px;
    padding-left: 30px;
    h1 {
      font-weight: $semiBold;
      font-size: 36px;
      color: #16314f;
      line-height: 40px;
      margin: 0 0 20px 0;
      text-transform: uppercase;
    }
    h3 {
      color: #16314f;
      font-size: 13px;
      font-weight: $semiBold;
      text-transform: uppercase;
      line-height: 18px;
    }
    p {
      font-weight: $regular;
      font-size: 13px;
      color: #5c7189;
      line-height: 23px;
    }
    b {
      font-weight: $semiBold;
    }
  }
}
