﻿#page-product {
    .bread-crumb{
        @media all and (max-width:767px){
            display: none;
        }
    }
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    #buy-box-float{
        position: fixed;
        top: 130px;
        right: 0;
        left: 0;
        z-index: 1;
        border: 1px solid #E8EDEF;
        padding: 9px 0;
        background-image: linear-gradient(180deg, #D9DADB 0%, #EAEEF2 15%);
        background: #d9dadb; /* Old browsers */
        background: -moz-linear-gradient(top, #d9dadb 0%, #eaeef2 15%, #eaeef2 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #d9dadb 0%,#eaeef2 15%,#eaeef2 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #d9dadb 0%,#eaeef2 15%,#eaeef2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9dadb', endColorstr='#eaeef2',GradientType=0 ); /* IE6-9 */
        @media( max-width: 767px ){
            display: none!important;
        }
        .col-name{
            max-width: 40%;
            margin: 0 auto 0 20px;
            p{
                font-weight: $regular;
                font-size: 13px;
                color: #16314F;
                line-height: 18px;
                margin: 0;
                text-transform: uppercase;
            }
        }
        .col-price{
            margin-right: 20px;
            .productPrice{
                
            }
        }
        @media all and (max-width: 991px){
            top: 83px;
        }
    }
    #ad-product-buy-button{
        &.no-stock{
            .buy-button,
            .quantity-selector-container{
                display: none!important;
            }
        }
    }
    .product-buy {
        .quantity-selector-container{
            // position: relative;
            // margin-right: 10px;
            // display: inline-block;
            // vertical-align: middle;
            display: none!important;
            .quantityText {
                display: none;
            }
            label{
                position: relative;
                margin: 0;
            }
            input{
                width: 42px;
                height: 35px;
                background: #FFFFFF;
                border: 0 none;
                text-align: center;
                border-radius: 3px;
                font-weight: $regular;
                font-size: 12px;
                color: #013365;
                line-height: 35px;
            }
            .actions{
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                button{
                    width: 15px;
                    height: 35px;
                    border: 0 none;
                    border-radius: 0;
                    font-weight: $regular;
                    font-size: 12px;
                    color: #0076AA;
                    line-height: 35px;
                    padding: 0;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    &.add-qty{
                        left: auto;
                        right: 0;
                    }
                }
            }
        }
        .buy-button {
            display: block !important;
            width: 263px;
            height: 60px;
            border-radius: 0;
            background: #60AF44;
            border: 0 none;
            color: #fff;
            font-weight: $semiBold;
            font-size: 20px;
            text-transform: uppercase;
            text-align: center;
            line-height: 60px;
            padding: 0 10px;
            &:hover{
                background: darken(#60AF44, 5%);
            }
            @media all and (max-width:1199px){
                width: 100%;
                margin-top: 10px;
            }
        }
    }

    .plugin-preco {
        .valor-de,
        .valor-pr {
            display: block;
        }
        .valor-de {
            font-size: 0;
            line-height: 0;
            color: transparent;
            strong{
                font-weight: $regular;
                font-size: 13px;
                color: #5C7189;
                line-height: 20px;
                text-decoration: line-through;
            }
        }
        .valor-por{
            font-size: 0;
            line-height: 0;
            color: transparent;
            strong{
                display: block;
                font-weight: $semiBold;
                font-size: 26px;
                color: #3C6895;
                line-height: 30px;
            }
        }
        .valor-dividido{
            font-weight: $regular;
            font-size: 12px;
            color: #5C7189;
            line-height: 14px;
            span, strong, label{
                margin: 0;
                display: inline;
                line-height: 14px;
            }
            label{
                font-weight: $semiBold;
                color: #5ED0B0;
            }
        }
        .preco-a-vista,
        .economia-de{
            display: none!important;
        }
    }

    main {
        > .showcase{
            position: relative;
        }
        .product-main {
            background: #fff;
            padding-bottom: 35px;
            .col-price{
                width: 100%;
                @media all and (max-width: 767px){
                    text-align: center;
                    margin-bottom: 35px;
                }
            }

            .product-image-flags {
                position: relative;
                .product-image {
                    #show {
                        display: none;
                        position: relative;
                        &:after{
                            content: "";
                            display: table;
                            width: 100%;
                            clear: both;
                        }
                        #include {
                            background: #FFFFFF;
                            box-shadow: 0 10px 10px 0 rgba(0,0,0,0.06);
                            padding: 5px;
                            min-height: 565px;
                            #image {
                                background: #fff;
                                .zoomPad {
                                    overflow: hidden;
                                    position: relative;
                                }
                                .zoomWindow {
                                    overflow: hidden;
                                    left: 0 !important;
                                    right: 0 !important;
                                    bottom: 0 !important;
                                    top: 0 !important;
                                    z-index: 10 !important;
                                }
                                .image-zoom {
                                    display: block;
                                    text-align: center;
                                    max-width: 500px;
                                    margin: 0 auto;
                                }
                                #image-main {
                                    display: block;
                                    margin: 0 auto;
                                    max-width: 100%;
                                }
                                .zoomWrapperImage {
                                    img {
                                        min-width: 1200px;
                                    }
                                }
                            }
                        }
                        #btn-movie{
                            cursor: pointer;
                            width: 75px;
                            height: 75px;
                            border-radius: 0;
                            border: 1px solid #7B8EA2;
                            background: #fff;
                            padding: 0;
                            margin-top: 15px;
                            i{
                                font-size: 30px;
                                line-height: 30px;
                                display: block;
                                color: #16314F;
                            }
                            span{
                                display: block;
                                font-size: 9px;
                                line-height: 11px;
                                color: #16314F;
                                text-transform: uppercase;
                            }
                            &:hover{
                                border-color: darken(#7B8EA2, 10%);
                                i, span{
                                    color: darken(#16314F, 10%);
                                }
                            }
                        }
                        .thumbs {
                            margin-top: 15px;
                            // float: left;
                            .slick-list{
                                width: 100%;
                            }
                            .slick-arrow{
                                background: transparent;
                                transform: rotate(-90deg);
                            }
                            li {
                                padding: 0 10px 0 0;
                                text-align: center;
                                display: inline-block;
                                vertical-align: middle;
                                a, button {
                                    @include size(75px, 75px);
                                    border-radius: 0;
                                    text-align: center;
                                    background: #FFFFFF;
                                    padding: 5px;
                                    border: 1px solid #EAEEF2;
                                    display: inline-block;
                                    box-shadow: 0 0 0 transparent;
                                    img {
                                        width: 65px;
                                        height: 65px;
                                        display: block;
                                        margin: auto;
                                    }
                                    &.ON,
                                    &:hover {
                                        border-color: #3C6895;
                                    }
                                }
                            }
                        }
                    }
                    .product-image-mobile {
                        img {
                            margin: auto;
                        }
                        .slick-dots{
                            margin: 3px 0 20px;
                            li{
                                button{
                                    background: #5C7189;
                                    opacity: 1;
                                }
                                &.slick-active{
                                    button{
                                        background: $color2;
                                    }
                                }
                            }
                            @media all and (max-width:767px){
                                margin: 25px 0 20px;
                            }
                        }
                    }
                }
                .product-flags {
                    position: absolute;
                    top: 0;
                    right: 2px;
                    z-index: 1;
                    .flag {
                        @extend %flag;
                        &.retira-loja{
                            background: #435B9F;
                        }
                        // &[class*="frete-gratis"]{
                            font-size: 13px;
                            padding: 5px 10px;
                        // }
                    }
                }
            }


            .add-to-wishlist,
            .remove-to-wishlist{
                min-width: 155px;
                height: 30px;
                background: #FFA000;
                font-weight: $regular;
                font-size: 13px;
                color: #FFFFFF;
                line-height: 30px;
                padding: 0 15px;
                border: 0 none;
                border-radius: 0;
                margin-top: 20px;
                i{
                    margin-right: 4px;
                }
                &:hover{
                    background: darken(#FFA000, 10%);
                }
                @media all and (max-width:767px){
                    margin-top: 0;
                }
            }
            .col-image{
                @media all and (max-width:992px){
                    text-align: center;
                }
            }
            .product-name{
                margin-top: 20px;
                @media( min-width: 768px ){
                    margin: 0;
                }
                .productName{
                    font-weight: $regular;
                    font-size: 22px;
                    color: #16314F;
                    text-transform: uppercase;
                    line-height: 26px;
                    margin: 0 0 11px;
                    @media all and (max-width:767px){
                        font-size: 15px;
                        line-height: 19px;
                    }
                }
            }
            
            .price-border{
                position: relative;
                z-index: 2;
                margin-top: 15px;
                @media( min-width: 768px ){
                    margin-top: 0;
                }
            }

            .productDescriptionShort{
                font-weight: $regular;
                font-size: 12px;
                color: #5C7189;
                line-height: 18px;
                @media all and (max-width:767px){
                    display: none;
                }
            }

            .product-variations {
                margin-top: 15px;
                .topic {
                    margin-bottom: 14px;
                    .specification{
                        display: block;
                        font-weight: $semiBold;
                        font-size: 14px;
                        color: #FFA000;
                        line-height: 18px;
                        text-transform: uppercase;
                        margin-bottom: 8px;
                    }
                    .skuList{
                        margin: -2px;
                        input{
                            display: none;
                        }
                        label{
                            background: #FFFFFF;
                            font-weight: $regular;
                            font-size: 13px;
                            color: #5C7189;
                            line-height: 15px;
                            min-width: 80px;
                            height: 25px;
                            padding: 5px 6px;
                            border-radius: 0;
                            border: 1px solid #D0D6DD;
                            display: inline-block;
                            vertical-align: middle;
                            margin: 2px;
                            transition: 300ms all;
                            text-align: center;
                            cursor: pointer;
                            &:hover{
                                background: #D0D6DD;
                            }
                            &.sku-picked{
                                font-weight: $semiBold;
                                background: #16314F;
                                border-color: #0F2338;
                                color: #fff;
                            }
                        }
                        &.select{
                            
                        }
                    }
                }
            }
            .portal-notify-me-ref {
                // padding: 20px;
                text-align: center;
                h3 {
                    @include title-default(20px, $color3, $mb: 10px);
                }
                p {
                    color: $colorPrimary;
                    font-size: 13px;
                    margin-bottom: 15px;
                }
                fieldset {
                    position: relative;
                    input {
                        vertical-align: middle;
                        height: 45px;
                        background: #fff;
                        &[type="text"] {
                            width: 100%;
                            &.notifyme-client-email {
                                padding-right: 50px;
                                margin: 5px 0 0;
                            }
                        }
                        &[type="button"] {
                            @extend %reset-btn;
                            @include size(45px);
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            text-align: center;
                            line-height: 45px;
                            color: $colorSecondary;
                            &::before {
                                @include fontAwesome("\f30b", $color: $color3);
                            }
                        }
                    }
                }
                @include media-queries('phone-wide') {
                    // padding: 30px 40px;
                    p {
                        margin-bottom: 25px;
                    }
                }
                @include media-queries('tablet') {
                    fieldset {
                        input {
                            &[type="text"] {
                                width: 49%;
                                &.notifyme-client-email {
                                    margin: 0 0 0 5px;
                                }
                            }
                            &[type="button"] {
                                right: 5px;
                            }
                        }
                    }
                }
            }
            .product-price {
                
            }
            .other-payments{
                display: block;
                position: relative;
                border-radius: 0;
                margin-top: 15px;
                margin-bottom: 15px;
                padding: 25px;
                background: #F3F3F3;
                z-index: 1;
                .titulo-parcelamento{
                    font-weight: $semiBold;
                    font-size: 12px;
                    color: #16314F;
                    line-height: 18px;
                    text-transform: uppercase;
                    display: block;
                    cursor: pointer;
                }
                .see-other-payment-method-link{
                    display: none!important;
                }
                .other-payment-method-ul{
                    margin-top: 10px;
                    @media( min-width: 768px ){
                        column-count: 2;
                    }
                    li{
                        padding: 5px 0;
                        &.vista{
                            display: none;
                        }
                        *{
                            font-weight: $regular;
                            font-size: 12px;
                            color: #5C7189;
                            line-height: 14px;
                        }
                        strong{
                            font-weight: $semiBold;
                        }
                    }
                }
                @media all and (max-width: 767px){
                    padding: 20px;
                    &:not(.open){
                        max-height: 50px;
                        overflow: hidden;    
                    }
                    .toggle-other-payments{
                        position: absolute;
                        top: 20px;
                        right: 20px;
                    }
                    &.open{
                        .toggle-other-payments{
                            transform: scaleY(-1);
                        }
                    }
                }
            }
            
            .col-buy-button {
                .unitSelector{
                    display: none;
                }
            }
            
            .product-shipping {
                .ad-shipping-form {
                    overflow: hidden;
                    padding-top: 25px;
                    background: #fff;
                    position: relative;
                    h5 {
                        .text, i{
                            display: inline-block;
                            vertical-align: middle;
                        }
                        .text{
                            font-weight: $regular;
                            font-size: 12px;
                            color: #6A7D93;
                            line-height: 14px;
                            max-width: 115px;
                        }
                        i{
                            font-size: 20px;
                            color: #3C6895;
                            line-height: 20px;
                            margin-right: 10px;
                            text-align: center;
                        }
                        @media all and (max-width:1199px){
                            width: 100%;
                            margin-bottom: 15px;
                            span{
                                max-width: initial !important;
                            }
                        }
                    }
                    .box-input {
                        position: relative;
                        margin: 0 10px;
                        min-width: 200px;
                        input {
                            background: #EAEEF2;
                            height: 40px;
                            padding: 0 10px;
                            width: 100%;
                            font-weight: $regular;
                            font-size: 13px;
                            border: 0 none;
                            border-radius: 0;
                            color: #7E99B7;
                            line-height: 13px;
                        }
                        #btn-shipping {
                            position: absolute;
                            top: 0;
                            right: 0;
                            border: 0 none;
                            border-radius: 0;
                            text-align: center;
                            width: 74px;
                            height: 40px;
                            font-weight: $regular;
                            font-size: 13px;
                            color: #16314f;
                            line-height: 13px;
                            &:hover{
                                color: darken(#16314f, 10%);
                            }
                        }
                        @media all and (max-width:1199px){
                            margin: 0;
                            margin-right: 10px;
                        }
                    }
                    a {
                        font-weight: $regular;
                        font-size: 11px;
                        color: #BAC4CF;
                        line-height: 13px;
                        max-width: 60px;
                        &:hover {
                            color: darken(#BAC4CF, 10%);
                        }
                    }
                }
                #shipping-results {
                    margin: 10px 0 0;
                    p{
                        color: $color3;
                    }
                    .alert {
                        background: #F3F3F3;
                    }
                    table {
                        th, td{
                            padding: 5px 4px;
                        }
                        th {
                            color: $colorPrimary;
                            font-size: 11px;
                            text-align: left;
                            border-top: 0;
                            font-weight: $bold;
                        }
                        td {
                            color: $color3;
                            font-size: 11px;
                            text-align: left;
                            &.value {
                                font-weight: $bold;
                                min-width: 85px;
                            }
                        }
                    }
                }
            }
            @media all and (max-width:767px){
                padding-top: 15px;
            }
        }

    }
}

#admake-anchor-product-info{
    background: #16314F;
    padding: 35px 0;
    .adamke-tab{
        margin-bottom: 25px;
        > li{
            margin-right: 30px;
        }
        .admake-tab-btn{
            font-weight: $bold;
            font-size: 15px;
            color: #30629A;
            line-height: 20px;
            text-transform: uppercase;
            &.active{
                font-size: 18px;
                color: #FFA000;
            }
        }
    }
    .adamke-tab-content{
        opacity: 0;
        visibility: hidden;
        height: 0;
        overflow: hidden;
        transition: 300ms all;
        &.active{
            opacity: 1;
            visibility: visible;
            height: auto;
        }
        .productDescription{
            font-size: 15px;
            color: #FFFFFF;
            line-height: 18px;
        }
        h4{
            margin: 20px 0 15px;
            color: #fff;
            font-size: 18px;
            line-height: 20px;
            font-weight: $semiBold;
            text-transform: uppercase;
        }
        table{
            width: 100%;
            th, td{
                background: #EEEEEE;
                border: 1px solid #fff;
                padding: 10px 15px;
                font-size: 12px;
                line-height: 20px;
            }
            th{
                font-weight: $semiBold;
                color: #16314F;
                text-transform: uppercase;
            }
            td{
                font-weight: $regular;
                color: #5C7189;
            }
        }
    }
    .accordion-content{
        &.active{
            .accordion-btn{
                color: $color2;
            }
        }
        .content{
            color: #FFFFFF;
            font-size: 13px;
            font-weight: $regular;
            line-height: 18px;
        }
    }
}


#modal-movie{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 999999999999;
    background: #000;
    background: rgba(0,0,0,.9);
    .mask{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 1;
        .btn-close{
            position: absolute;
            top: 15px;
            right: 15px;
            width: 50px;
            height: 50px;
            border: 0 none;
            box-shadow: 0 0 0 transparent;
            background: transparent;
            color: #fff;
            text-shadow: $textShadow;
            font-size: 30px;
            line-height: 50px;
            padding: 0;
            cursor: pointer;
            &:hover{
                transform: rotate(90deg);
            }
        }
    }
    #player{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
        max-width: 100%;
        max-height: 100%;
    }
}
#product-image-mobile-carousel{
    .slick-arrow{
        @media all and (max-width: 991px){
            display: none !important;
        }
    }
    .slick-list{
        @media all and (max-width: 767px){
            box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 10px 0px;
            border: 10px solid rgb(255, 255, 255);
        }
    }
}