﻿// 404, 500, empty-search
#page-404,
#page-500,
#page-empty-search {
    main {
        text-align: center;
        h1{
            margin-bottom: 10px;
        }
        .info {
            padding: 88px 0;
            background: #fff;
            p {
                font-size: 15px;
                color: $colorPrimary;
                letter-spacing: 0;
                text-align: center;
                line-height: 18px;
                margin-bottom: 30px;
            }
        }
    }
}
#page-empty-search {

    .empty-search-info{
        .page-title{
            font-weight: $bold;
            font-size: 18px;
            color: $color5;
            line-height: 20px;
            text-align: center;
            text-transform: uppercase;
        }
        .search-box{
            max-width: 570px;
            margin: 30px auto;
        }
    }
}
