#set($id 				= $product.Id)
#set($uri 				= $product.Uri)
#set($escapedName 		= $product.HtmlEscapedName)
#set($evaluationRate 	= $product.EvaluationRate)

#set($textAddToCart 	= 'Adicionar ao Carrinho')
#set($shortDescription 	= false)
#set($departmentLink 	= false)
#set($categoryLink 		= false)
#set($brandLink 		= false)

#if ($product.IsInStock)
<div class="admake-create-pc-product" data-id="$id">
#else
<div class="admake-create-pc-product out-of-stock" data-id="$id">
#end

    <div class="d-flex justify-content-between align-items-center">
        <div class="product-checkbox"><i class="far fa-square"></i></div>
        <div class="product-image">$product.GetImageTag(29)</div>
        <div class="product-qty"></div>
        <div class="product-name flex-grow-1">$product.Name</div>
        <div class="product-price-box">
            #if ($product.IsInStock)
                <span class="old-price">
                    #if ($product.HasBestPrice)
                        $product.ListPrice
                    #end
                </span>
                <span class="best-price"><strong>$product.BestPrice</strong></span>
                        
                #if ($product.NumbersOfInstallment > 1)
                    <span class="installment">
                        ou <strong>${product.NumbersOfInstallment}x</strong> de <strong>$product.InstallmentValue</strong> sem juros
                    </span>
                #else
                    #if ($product.MaxNumbersOfInstallment > 1)
                        <span class="installment installment-max">
                            <strong>${product.MaxNumbersOfInstallment}x</strong> de <strong>$product.MaxInstallmentValue</strong>
                        </span>
                    #end
                #end
            #end
        </div>
        <div class="product-show-details"><a title="$escapedName" href="$uri">detalhes</a></div>
    </div>
</div>