@media( max-width: 767px ){
    // #footer .footer-institucional-payments{
        .accordion-content{
            width: 100%;
            &.active{
                .accordion-btn{
                    &:before{
                        transform: scaleY(-1);
                    }
                    & + ul,
                    & + div {
                        opacity: 1;
                        visibility: visible;
                        height: auto;
                        padding: 10px 0;
                    }   
                }
            }
            .accordion-btn{
                margin: 0;
                padding: 15px 0;
                font-weight: $semiBold;
                letter-spacing: 0;
                line-height: 20px;
                position: relative;
                cursor: pointer;
                color: #FFFFFF;
                font-size: 15px;
                &:before{
                    @include fontAwesome('\f107', 'fas');
                    width: 24px;
                    height: 24px;
                    position: absolute;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    text-align: center;
                    border-radius: 100%;
                    line-height: 24px;
                    color: #FFFFFF;
                    font-size: 15px;
                    letter-spacing: 0;
                }
                & + ul,
                & + div{
                    opacity: 0;
                    visibility: hidden;
                    height: 0;
                    padding: 0;
                    transition: 300ms all;
                }   
            }
        }
    // }
}