.all-department-list-box{
    margin: -15px 0 0;
    .all-department-item{
        width: 33.333333333%;
        padding: 15px 0;
        .icon{
            min-width: 30px;
            height: 30px;
            border-radius: 100%;
            background: #FE2F44;
            border: 1px solid #FE7180;
            box-shadow: 0 0 1px 2px #CD2032;
            position: relative;
            margin-right: 9px;
            img{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                filter: brightness(0) invert(1);
            }
        }
        .info{
            min-width: 155px;
            h4{
                font-weight: $bold;
                font-size: 12px;
                color: #FFFFFF;
                line-height: 18px;
                text-shadow: $textShadow;
                text-transform: uppercase;
                margin: 0 0 10px;
            }
            p{
                font-size: 12px;
                color: #FFFFFF;
                line-height: 19px;
                margin-bottom: 8px;
            }
            a{
                font-size: 12px;
                color: #fff;
                display: inline-block;
                margin: 0 2px 2px 0;
                &:after{
                    display: inline-block;
                    content: ",";
                }
                &:hover{
                    color: #8ED5D9;
                }
                &:last-child{
                    font-size: 11px;
                    font-weight: $bold;
                    text-transform: uppercase;
                    color: #8ED5D9;
                    text-shadow: $textShadow;
                    font-style: italic;
                    display: table;
                    margin-top: 3px;
                    &:after{
                        display: none;
                    }
                    &:hover{
                        color: #fff;
                    }
                }
                i{
                    font-style: normal;
                }
            }
        }
    }
}