﻿section.bread-crumb{
    display: none;
    background: #fff;
    position: relative;
    .bread-crumb{
        margin-bottom: 25px;
        padding: 14px 0;
        border-bottom: 1px solid #EBECEC;
    }
    ul{
        position: relative;
        z-index: 3;
        margin: 0;
        li{
            position: relative;
            display: inline-block;
            vertical-align: middle;
            padding: 0;
            &:after{
                @include fontAwesome('\f054', 'fas');
                display: inline-block;
                vertical-align: middle;
                font-size: 10px;
                color: #64788F;
                line-height: 15px;
                margin: 0 5px 0 10px;
            }
            &, a{
                font-weight: $regular;
                font-size: 13px;
                color: #5C7189;
                line-height: 20px;
                &[href="/"]{
                    font-size: 0;
                    color: transparent;
                    line-height: 0;
                    padding: 0;
                    &:before{
                        content: "Página Inicial";
                        font-weight: $regular;
                        font-size: 13px;
                        color: #5C7189;
                        line-height: 20px;
                        display: inline-block;
                    }
                }
            }
            &.last, &:last-child{
                &:after{
                    display: none;
                }
                &, a{
                    font-weight: $semiBold;
                    color: #FFA000;
                }
                a:hover{
                    color: darken(#FFA000, 10%);
                }
            }
        }
    }
    @include media-queries('phone'){
        display: block;
    }
}