﻿// BUY TOGETHER
#divCompreJunto {
    padding: 55px 0 65px;
    hr,
    h4 {
        display: none!important;
    }
    table {
        tr{
            > td{
                border-top: 1px solid #f2f6f7;
                padding-top: 20px;
                padding-bottom: 20px;
            }
            &:first-child{
                td{
                    border-top: 0 none;
                }
            }
        }
        td {
            vertical-align: middle;
        }
        .itemA,
        .itemB {
            text-align: center;
            @media( min-width: 992px ){
                -ms-flex-align: center!important;
                align-items: center!important;
                display: -ms-flexbox!important;
                display: flex!important;
            }
            a {
                display: block;
                img {
                    min-width: 90px;
                    max-width: 100%;
                    height: auto;
                }
                &:hover {
                    img {
                        opacity: .7;
                    }
                }
            }
            h3 {
                text-align: center;
                margin: 5px auto 0;
                @media( min-width: 992px ){
                    text-align: left;
                    margin: 0;
                }
                a {
                    font-weight: $regular;
                    font-size: 11px;
                    color: #3B4850;
                    line-height: 13px;
                    @media( min-width: 992px ){
                        font-size: 13px;
                        line-height: 17px;
                    }
                    &:hover {
                        color: darken(#3B4850, 10%);
                    }
                }
            }
            @media (min-width: 992px) {
                max-width: 305px;
            }
            @media (min-width: 768px) and (max-width: 991px) {
                max-width: 150px;
            }
        }
        .plus,
        .equal {
            position: relative;
            padding: 0 30px;
            font-size: 0;
            @media (min-width: 992px) {
                padding: 0 25px;
            }
        }
        .plus {
            &::before {
                content: '+';
                padding: 0;
                width: 51px;
                height: 51px;
                border-radius: 100%;
                font-size: 40px;
                color: #FFFFFF;
                line-height: 53px;
                text-align: center;
                background: #013365;
                display: block;
                margin: auto;
            }
        }
        .equal {
            &::before {
                content: '=';
                padding: 0;
                width: 51px;
                height: 51px;
                border-radius: 100%;
                font-size: 40px;
                color: #FFFFFF;
                line-height: 53px;
                text-align: center;
                background: #2EC4B6;
                display: block;
                margin: auto;
            }
        }
        .buy {
            text-align: center;
            min-width: 200px;
            @include media-queries('tablet') {
                padding-left: 40px;
                max-width: 250px;
            }
            .text-1,.text-2,.text-3{
                display: block;
                font-weight: $regular;
                font-size: 16px;
                color: #3B4850;
                line-height: 18px;
                strong{
                    font-weight: $semiBold;
                }
            }
            .text-1, .text-3{
                display: none;
            }
        }
        .more{
            display: none;
        }
        .comprar-junto{
            margin-top: 15px;
            a{
                display: block;
                border-radius: 3px;
                background: #00DD3E;
                box-shadow: 0 1px 1px 0 rgba(0,0,0,0.04);
                font-weight: $semiBold;
                font-size: 16px;
                color: #FFFFFF;
                height: 45px;
                padding: 10px 5px;
                line-height: 25px;
                text-transform: uppercase;
                text-align: center;
                &:hover{
                    background: darken(#00DD3E, 10%);
                }
            }
        }
    }
    @include media-queries('phone-wide', max) {
        .itemA,
        .itemB,
        .plus,
        .equal,
        .buy {
            display: block;
            text-align: center;
            padding: 0;
        }
        .plus,
        .equal,
        .buy {
            margin: 20px 0;
        }
        table {
            width: 100%;
            .itemA,
            .itemB {
                h3 {
                    a {
                        text-align: center;
                    }
                }
            }
            .buy {
                margin-bottom: 0;
            }
        }
    }
}