﻿// MY CART
#admake-cart-sidebar {
    @include modals;
    z-index: 9999999;
    > .content{
        max-width: 320px;;
    }
    .cart-header {
        padding: 27px 30px;
        position: relative;
        background: $color3;
        strong {
            font-weight: $regular;
            font-size: 15px;
            color: #FFFFFF;
            line-height: 30px;
        }
        .cart-btn-close {
            right: 15px;
            width: 30px;
            height: 30px;
            border-radius: 0;
            background: transparent;
            border: 0 none;
            i{
                display: block;
                font-size: 26px;
                color: #FFFFFF;
                line-height: 30px;
                text-align: center;
            }
            &:hover{
                transform: scale(1.04);
            }
        }
    }
    .cart-body {
        padding: 15px;
        overflow-y: auto;
        .cart-loader{
            text-align: center;
            font-size: 30px;
        }
        .cart-items{
            > button{
                margin-top: 10px;
                cursor: pointer;
                display: block;
                width: 100%;
                height: 50px;
                border: 1px solid $colorBorder;
                background: #f1f1f1;
                font-weight: $semiBold;
                font-size: 13px;
                color: $colorPrimary;
                letter-spacing: 0;
                &:hover {
                    background: darken(#f1f1f1, 5%);
                }
            }
            .item{
                padding: 15px 0;
                position: relative;
                .item-image{
                    max-width: 65px;
                    width: 65px;
                }
                .item-details{
                    width: calc(100% - 70px);
                    padding: 0 15px;
                    .item-name{
                        margin-bottom: 5px;
                        a{
                            font-weight: $regular;
                            font-size: 10px;
                            color: #5C7189;
                            line-height: 12px;
                        }
                    }
                    .item-qty, .item-listprice, .item-bestprice, .item-freeprice{
                        vertical-align: middle;
                    }
                    .item-qty,.item-freeprice{
                        display: none;
                    }
                    .item-listprice{
                        text-decoration: line-through;
                        vertical-align: middle;
                        font-weight: $regular;
                        font-size: 10px;
                        color: #5C7189;
                        line-height: 20px;
                    }
                    .item-bestprice{
                        font-weight: $semiBold;
                        font-size: 12px;
                        color: #3C6895;
                        line-height: 20px;
                    }
                    .item-freeprice{
                        font-size: 11px;
                        margin-left: 5px;
                        color: $color3;
                    }
                }
                .item-remove{
                    position: absolute;
                    left: 50px;
                    top: 5px;
                    z-index: 2;;
                    width: 27px;
                    height: 27px;
                    background: #132A42;
                    border-radius: 100%;
                    border: 0 none;
                    i{
                        font-size: 12px;
                        color: #FFA000;
                        line-height: 27px;
                        display: block;
                        text-align: center;
                    }
                    &:hover{
                        transform: scale(1.04);
                    }
                }
            }
            
        }
    }
    .cart-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        background: #DFDFDF;
        .cart-alerts {
            padding: 0 15px;
            margin: 10px 0;
            li {
                padding: 5px 0;
                font-weight: $semiBold;
                font-size: 12px;
                color: #132A42;
                letter-spacing: 0;
            }
        }
        .cart-values {
            >div {
                display: block;
                padding: 15px;
                background: #FFA000;
                span, strong{
                    font-weight: $semiBold;
                    line-height: 20px;
                    text-transform: uppercase;
                }
                span {
                    font-size: 13px;
                    color: #FFFFFF;
                }
                strong {
                    font-size: 14px;
                    color: #132A42;
                }
            }
        }
        .cart-actions {
            .cart-btn-buy{
                display: block;
                background: #60AF44;
                padding: 15px;
                height: 50px;
                text-align: center;
                font-weight: $semiBold;
                font-size: 13px;
                color: #FFFFFF;
                text-transform: uppercase;
                line-height: 20px;
                &:hover{
                    background: darken(#60AF44, 5%)
                }
            }
        }
    }
}