﻿#footer{
    position: relative;
    z-index: 2;
    .about-box{
        background: #16314F;
        .about-text{
            border-bottom: 1px solid #344C67;
            padding: 25px 0 20px;
            p{
                font-weight: $regular;
                font-size: 13px;
                color: #7B8EA2;
                text-align: center;
                line-height: 19px;
                @media all and (max-width: 575px){
                    font-size: 12px;
                }
            }
        }
    }
    .footer-institucional-payments{
        background: #16314F;
        padding: 30px 0;
        .title-footer{
            font-weight: $semiBold;
            font-size: 16px;
            color: #FFFFFF;
            line-height: 20px;
            text-transform: uppercase;
            margin-bottom: 15px;
            display: block;
        }
    }

    .links{
        li{
            padding: 5px 0;
            a{
                font-weight: $regular;
                font-size: 13px;
                color: #7B8EA2;
                line-height: 17px;
                text-decoration: none;
                &:hover{
                    color: darken(#7B8EA2, 10%);
                }
            }
        }
        // @media all and (max-width: 767px){
        //     margin-bottom: 20px;
        // }
    }
    .col-contacts{
        .phone{
            i{
                font-size: 18px;
                color: #FFA000;
                line-height: 20px;
                margin-right: 8px;
            }
            span{
                font-weight: $semiBold;
                font-size: 16px;
                color: #FFA000;
                line-height: 20px;
            }
        }
        .h-atendimento{
            padding: 20px 0 0;
            > span{
                font-weight: $semiBold;
                font-size: 16px;
                color: #FFFFFF;
                line-height: 20px;
                text-transform: uppercase;
                display: block;
                margin-bottom: 10px;
            }
            .address-1, .address-2{
                font-weight: $regular;
                font-size: 13px;
                color: #7B8EA2;
                line-height: 15px;
                text-transform: none;
                display: block;
                margin-bottom: 4px;
            }
            .address-2{
                color: #FFFFFF;
            }
        }
    }

    .social-links{
        li{
            padding: 7px 0;
            display: block;
            a{
                font-weight: $regular;
                font-size: 14px;
                color: #7B8EA2;
                letter-spacing: 0;
                line-height: 15px;
                i{
                    font-size: 14px;
                    color: #FFA000;
                    line-height: 15px;
                    margin-right: 7px;
                }
                &:hover{
                    color: darken(#7B8EA2, 10%);
                }
            }
        }
    }

    .row-payments-security{
        margin-top: 30px;
    }
}

#footer-copyright{
    padding: 27px 0;
    .copyright{
        p{
            font-weight: $regular;
            font-size: 11px;
            color: #7B8EA2;
            line-height: 15px;
            @media all and (max-width:575px){
                text-align: center;
            }
        }
    }
    #footer-signature{
        margin-left: 40px;
        min-width: 190px;
        width: 190px;
        li{
            display: inline-block;
            vertical-align: middle;
        }
        a{
            img{

            }
        }
        @media all and (max-width:575px){
            margin-left: auto;
            margin-right: auto;
            margin-top: 30px;
        }
    }
}