body{
    .form-control,
    input[type="text"],
    input[type="email"],
    input[type="phone"],
    input[type="tel"],
    input[type="password"],
    input[type="textarea"],
    select {
        box-shadow: none !important;
        height: 50px;
        border-radius: 0;
        border: 0 none;
        background: #EAEEF2;
        font-weight: $regular;
        font-size: 13px;
        color: #5C7189;
    }

    input[type="text"],
    input[type="email"],
    input[type="phone"],
    input[type="tel"],
    input[type="password"],
    input[type="textarea"] {
        padding: 0 10px;
        &:focus, &:active{
            background: darken(#EAEEF2, 5%);
        }
    }

    textarea{
        &, &.form-control{
            line-height: 20px;
            padding: 15px;
            &:focus, &:active{
                background: darken(#EAEEF2, 5%);
            }
        }
    }

    select, select.form-control {
        @include prefixed(appearance, none);
        margin: 0;
        background: bg($image: 'icon-select.png', $position: right center, $color: #EAEEF2);
        background-size: 51px 50px;
        padding: 0 20px 0 10px;
    }

    @include input-placeholder {
        color: #fff;
    }

    label {
        margin-bottom: .5rem;
        display: block;
        font-weight: $semiBold;
        font-size: 13px;
        color: #5C7189;
        line-height: 20px;
    }
}