#header-top-bar{
    background: $color3;
    padding: 5px 0;
    p{
        font-weight: $regular;
        font-size: 12px;
        color: #FFFFFF;
        line-height: 18px;
        margin: 0;
        b{
            font-weight: $semiBold;
            color: $color2;
        }
        a{
            text-decoration: underline;
        }
    }
    .col-top-bar-2{
        p{
            a{
                margin: 0;
            }
        }
        a{
            margin-left: 30px;
        }
    }
    a{
        font-weight: $regular;
        font-size: 12px;
        color: #FFFFFF;
        line-height: 18px;
        &:hover{
            color: $color2;
        }
    }
    > .container{
        @media all and (max-width:991px){
            padding: 0 30px;
        }
    }
}

#header-bar{
    padding: 5px 0 0;
    position: relative;
    z-index: 1;
    background: $color1;
    // @media( min-width: 768px ){
        padding: 13px 0;
    // }
    #header-brand{
        // @media all and (min-width:1200px){
        //     margin-right: 30px;
        // }
        @media( max-width: 767px ){
            // margin-left: auto;
            // margin-right: auto;
            // img{
            //     max-width: 73px;
            // }
        }
    }
    .open-close-search-mobile,
    .open-close-nav-mobile{
        border: 0 none;
        box-shadow: 0 0 0 transparent;
        background: transparent;
        padding: 0;
        text-align: center;
        span{
            font-size: 8px;
            font-weight: $regular;
            line-height: 10px;
            display: block;
            margin: 0;
            color: $color2;
            text-transform: uppercase;
            display: none;
        }
        i{
            display: block;
            font-size: 19px;
            color: $color4;
            line-height: 19px;
        }
    }

    .contact-phone{
        i{
            font-size: 18px;
            color: $color2;
            line-height: 20px;
            margin-right: 6px;
        }
        span{
            font-weight: $regular;
            font-size: 11px;
            color: #FFFFFF;
            line-height: 15px;
            display: block;
        }
        b{
            font-weight: $semiBold;
            font-size: 16px;
            color: $color2;
            line-height: 20px;
            display: block;
        }
        @media all and (max-width:991px){
            padding: 0 15px;
        }
    }
    .link-my-account{
        img{
            @media all and (min-width:575px){
                margin-right: 6px;
            }
        }
        .account-options{
            span{
                font-weight: $regular;
                font-size: 11px;
                color: #FFFFFF;
                line-height: 15px;
            }
            > div > span{
                margin: 0 5px;
            }
        }
        span, a{
            font-weight: $semiBold;
            font-size: 14px;
            color: #FFFFFF;
            line-height: 20px;
        }
        span{
        }
        a{
            &:hover{
                color: $color2;
            }
        }
        @media all and (max-width:991px){
            padding: 0 15px;
        }
        @media all and (max-width:575px){
            padding: 0;
        }
    }
    .link-item-cart{
        @media all and (max-width:991px){
            padding: 0 15px;
        }
        @media all and (max-width: 575px){
            padding: 0;
            padding-left: 10px;
            position: relative;
            &:before{
                content: "";
                background: #395270;
                position: absolute;
                top: 0;
                bottom: 0;
                width: 1px;
                left: 0;
                height: 50px;
                margin: auto;
            }
        }
        a{
            @media all and (min-width:992px){
                border-left: 1px solid rgba(255,255,255,2/10);
                display: block;
                margin: -18px 0;
                padding: 25px 0 25px 15px;
                height: 82px;    
            }
            .icon{
                img, span{
                    display: inline-block;
                    vertical-align: middle;
                }
                img{
                    margin-right: 7px;
                    @media all and (max-width: 575px){
                        max-width: 29px;
                        margin-right: 0;
                    }
                }
                span{
                    font-weight: $regular;
                    font-size: 15px;
                    color: #FFFFFF;
                    line-height: 20px;
                    @media all and (max-width:575px){
                        width: 20px;
                        height: 20px;
                        background: #395270;
                        padding: 0;
                        border-radius: 100%;
                        font-size: 12px;
                        position: absolute;
                        top: 10px;
                        display: none;
                    }
                }
            }
            &:hover{
                opacity: .8;
            }
        }
    }
    #header-search{
        .busca{
            // @media( max-width: 767px ){
            //     margin: 4px -15px 0;
            // }
        }
    }
    #open-nav-mobile{
        @media all and (max-width: 575px){
            padding: 0;
        }
    }
    @media all and (max-width: 575px){
        padding: 10px 0;
    }
}


#header-brand {
    max-width: 135px;
    @media( min-width: 768px ){
        max-width: 227px;
    }
    @media( max-width: 575px ){
        max-width: 85px;
        padding-left: 0;
    }
    h1 {
        margin: 0;
        padding: 0;   
    }
}
#header{
    z-index: 1080;
}