﻿#header-nav {
    background: #fff;
    border: 0 none;
    position: relative;
    z-index: 2;
    border-bottom: 1px solid #EEEEEE;
    box-shadow: 0 12px 14px rgba(0,0,0,0.1);
    @media( max-width: 991px ){
        background: transparent;
        border: 0 none;
        position: fixed;
        top: 0;
        right: 100%;
        bottom: 0;
        left: -100%;
        z-index: 9999;
        transition: 300ms all;
        > .mask{
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background: rgba(0,0,0,7/10);
            z-index: 1;
            &:before{
                @include fontAwesome('\f00d', 'fas');
                position: absolute;
                text-align: center;
                background: #16314F;
                color: #FFFFFF;
                width: 60px;
                height: 60px;
                border-radius: 0;
                top: 0;
                font-size: 20px;
                line-height: 58px;
                right: initial;
                left: 260px;
            }
        }
        &.mobile-active{
            right: 0;
            left: 0;
        }
    }

    .header-nav-item-all{
        .header-nav-sub-box{
            .header-nav-sub-item:first-child{
                .all-departments-sub{
                    @media( min-width: 768px ){
                    }
                }
            }
        }
    }
    @media all and (min-width: 992px){
        &:hover{
            & + .mask-full{
                opacity: 1;
                visibility: visible;
                height: auto;
                bottom: 0;
            }
        }
    }
    & + .mask-full{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1;
        background: rgba(0,0,0,7/10);
        opacity: 0;
        visibility: hidden;
        transition: 300ms all;
        height: 0;
        @media( max-width: 767px ){
            display: none!important;
        }
    }
    > .container{
        position: static;
        z-index: 2;
        @media( max-width: 991px ){
            position: absolute;
            top: 0;
            left: 0;
            max-width: 260px;
            bottom: 0;
            z-index: 2;
            margin: 0;
            padding: 0;
            overflow: scroll;
            background: #0F2333;
            .header-nav-item{
                background: #FFFFFF;
            }
        }
    }
    .header-nav-items{
        margin: 0;
        @media( min-width: 992px ){
            margin: 0 0 0 -15px;
        }
        &.lvl2{
            margin: 0;
            padding-top: 10px;
            padding-bottom: 10px;
            @media( min-width: 992px ){
                column-count: 2;
            }
            @media( min-width: 768px ){
                padding-top: 25px;
                padding-bottom: 30px;
                min-height: 316px;
                background: #f2f6f7;
            }
            li{
                margin-bottom: 20px;
            }
        }
    }
    .col-links{
        padding: 0;
        padding-left: 15px;
        background: $color8;
    }
    .header-nav-brands{
        background: #FFFFFF;
        height: 100%;
        margin: 0 -5px;
        padding-top: 30px;
        padding-bottom: 30px;
        min-height: 315px;
        @media( max-width: 767px ){
            display: none!important;
        }
        li{
            width: 49%;
            display: inline-block;
            vertical-align: top;
            padding: 5px;
            a{
                border: 1px solid #E6E6E6;
                display: block;
                max-width: 130px;
                height: 50px;
                position: relative;
                margin: auto;
                img{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transition: 300ms all;
                    transform: translate(-50%, -50%);
                    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
                    filter: grayscale(100%);
                    max-width: calc(100% - 30px);
                }
                &:hover{
                    img{
                        -webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
                        filter: grayscale(0);
                    }
                }
            }
        }
    }
    .header-nav-banner{
        display: none;
        img{
            max-height: 100%;
            max-width: 100%;
            position: sticky;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }
        @media( min-width: 992px ){
            // position: sticky;
            position: absolute;
            right: 0;
            top: 0;
            padding: 0;
            display: block;
            margin: 0;
        }
    }
    .header-nav-item{
        @media all and (min-width: 992px){
            -ms-flex-positive: 1!important;
            flex-grow: 1!important;
            position: static;
            border-right: 1px solid #eee;       
        }
        &.header-nav-item-all{
            .header-nav-sub-box{
                > .container{
                    box-shadow: 0px 6px 10px rgba(0,0,0,0.1);
                    // overflow-y: auto;
                    max-height: 100%;
                    &::-webkit-scrollbar-track {
                        background-color: #E9E9E9;
                    }
                    &::-webkit-scrollbar {
                        width: 3px;
                        background: #E9E9E9;
                    }
                    &::-webkit-scrollbar-thumb {
                        background: $color2;
                    }
                }
            }
        }
        &:last-child{
            border-right: 0 none;
        }
        &.header-nav-item-all{
            .container{
                padding: 0;
            }
            .header-nav-sub-box{
                background: transparent !important;
                .header-nav-sub-items{
                    background: #F2F6F7 !important;
                }
            }
            .container{
                position: relative;
            }
            .header-nav-sub-link{
                position: relative;
                color: $color1;
                font-size: 14px;
                font-weight: $semiBold;
                text-transform: uppercase;
                &:after{
                    @include fontAwesome('\f105', 'fas');
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    width: 30px;
                    line-height: 20px;
                    font-size: 10px;
                    margin: auto;
                    text-align: center;
                    color: #7B8EA2;
                }
            }
            .header-nav-sub-items{
                padding: 0;
                .header-nav-sub-item{
                    padding: 15px 20px;
                    border-bottom: 1px solid rgba(123,142,162,.2);
                }
            }
        }

        &:first-child .header-nav-link,
        .link-offer{
            &:before{ display: none; }
        }

        &.monte-seu-pc{
            .header-nav-link{
                background: #FFA000;
                color: #fff;
            }
        }

        .header-nav-link{
            padding: 15px;
            display: block;
            position: relative;
            background: transparent;
            text-align: left;
            color: #16314F;
            font-weight: $semiBold;
            text-transform: uppercase;
            font-size: 13px;
            letter-spacing: 0;
            text-align: center;
            line-height: 15px;
            @media( min-width: 992px ){
                border-bottom: 0 none;
                padding: 11px 5px;
                text-align: center;
            }
            @media( min-width: 992px ){
                text-align: left;
                padding: 17px 8px;
            }
            @media( min-width: 1200px ){
                padding: 17px 10px;
            }
            &:after{
                @media( max-width: 991px ){
                    @include fontAwesome('\f105', 'fas');
                    font-size: 13px;
                    line-height: 20px;
                    color: $color1;
                    width: 30px;
                    text-align: center;
                    position: absolute;
                    top: 50%;
                    right: 0;
                    margin-top: -10px;
                }
                @media( min-width: 992px ){
                    content: "";
                    border: 6px solid transparent;
                    border-bottom-color: transparent;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    margin-left: -6px;
                    transition: 300ms all;
                }
            }
            @media all and (max-width: 991px){
                color: $color1;
                font-weight: $regular;
                text-align: left;
            }
        }
        &.active{
            .header-nav-sub-box{
                @media( max-width: 991px ){
                    opacity: 1;
                    visibility: visible;
                    height: auto;
                }
            }
        }
        &:hover{
            @media all and (min-width: 992px){
                .header-nav-link{
                    background: #0E2238;
                    color: #FFA000;
                }
                .header-nav-sub-box{
                    opacity: 1;
                    visibility: visible;
                    min-height: initial !important;
                    height: 65vh;
                    max-height: 400px;
                    overflow-y: auto;
                    &::-webkit-scrollbar-track {
                        background-color: #E9E9E9;
                    }
                    &::-webkit-scrollbar {
                        width: 3px;
                        background: #E9E9E9;
                    }
                    &::-webkit-scrollbar-thumb {
                        background: $color2;
                    }
                }
            }
        }
        &.header-nav-item-all{
            &:hover{
                .header-nav-sub-box{
                    overflow-y: hidden;
                }
            }
        }



        // .header-nav-link{
        //     background: #0E2238;
        //     color: #FFA000;
        // }
        .header-nav-sub-box{
            // opacity: 1;
            // visibility: visible;
            // min-height: initial !important;
            // height: 65vh;
            // max-height: 400px;
            // overflow-y: auto;
            // &::-webkit-scrollbar-track {
            //     background-color: #E9E9E9;
            // }
            // &::-webkit-scrollbar {
            //     width: 3px;
            //     background: #E9E9E9;
            // }
            // &::-webkit-scrollbar-thumb {
            //     background: $color2;
            // }
            @media all and (max-width:991px){
                position: fixed;
                left: 0;
                right: 0;
                top: 0;
                z-index: 99;
                bottom: 0;
                max-height: initial !important;
                height: auto !important;
                max-width: 260px;
                border: 0;
                background: #FFFFFF;
                .col-links{
                    background: #FFFFFF;
                }
                .admake-navbar-title{
                    margin-top: 0;
                    padding: 20px 15px;
                    padding-left: 45px;
                    font-size: 13px;
                    line-height: 16px;
                    background: rgba(234,238,242,0.5);
                    position: relative;
                    &:before{
                        @include fontAwesome('\f359', 'far');
                        width: 20px;
                        height: 20px;
                        position: absolute;
                        left: 15px;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        text-align: center;
                        line-height: 18px;
                        color: #7B8EA2;
                        font-size: 18px;
                        letter-spacing: 0;
                    }
                }
                .lvl2 {
                    li{
                        margin-bottom: 0;
                    }
                }
                .link-lvl2,
                .header-nav-sub-link{
                    color: #7B8EA2;
                    line-height: 43px;
                    font-size: 13px;
                    font-weight: $regular;
                }
            }
        }



    }
    .footer-navbar-mobile{
        background: $color3;
        ul{
            .footer-navbar-item{
                padding: 15px;
                &.monte-seu-pc{
                    padding: 20px 15px;
                    background: $color2;
                    a{
                        color: #ffffff;
                        font-size: 13px;
                        text-transform: uppercase;
                        font-weight: $semiBold;
                        line-height: 16px;
                    }
                }
                &.compre-por-atacado{
                    a{
                        color: $color2;
                    }
                }
                a{
                    color: #FFFFFF;
                    font-size: 15px;
                    line-height: 19px;
                    font-weight: $regular;
                }
            }
        }
    }
    .link-lvl2,
    .header-nav-sub-link{
        letter-spacing: 0;
        line-height: 22px;
        padding: 10px 20px;
        display: block;
        color: $color1;
        font-size: 14px;
        font-weight: $regular;
        @media( min-width: 768px ){
            font-size: 14px;
            line-height: 22px;
            padding: 0;
        }
        // &:before{
        //     @include fontAwesome('\f111', 'fas');
        //     color: #013365;
        //     font-size: 9px;
        //     line-height: 22px;
        //     display: inline-block;
        //     margin-right: 10px;
        //     vertical-align: middle;
        // }
    }
    .link-lvl2{
        &:hover{
            // background: #013365;
            // color: #fff;
            color: $color2;
            &:before{
                color: $color2;
            }
        }
    }
    .header-nav-sub-box{
        opacity: 0;
        visibility: hidden;
        height: 0;
        transition: 300ms all;
        overflow: hidden;
        background: #F2F6F7; /* Old browsers */
        border-top: 3px solid #14151C;
        // background: transparent !important;
        > .container{
            background: #FFFFFF;
        }
        .admake-navbar-title{
            color: $color2;
            font-size: 22px;
            font-weight: $semiBold;
            text-transform: uppercase;
            line-height: 27px;
            margin-top: 35px;
        }
        @media( min-width: 992px ){
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            background: #F2F6F7; /* Old browsers */
            background: -moz-linear-gradient(left, #f2f6f7 0%, #f2f6f7 50%, #fff 50%, #fff 50%, #fff 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left, #f2f6f7 0%,#f2f6f7 50%,#fff 50%,#fff 50%,#fff 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, #f2f6f7 0%,#f2f6f7 50%,#fff 50%,#fff 50%,#fff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f7', endColorstr='#fff',GradientType=1 ); /* IE6-9 */
        }
        > img{
            display: none!important;
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 2;
            @media( max-width: 767px ){
                display: none!important;
            }
        }
        .row{
            position: relative;
            z-index: 2;
        }
        .row,
        .container,
        div[class*="col"]{ 
            @media( max-width: 767px ){
                padding: 0!important;
                margin: 0!important;
            }
        }
    }
    .header-nav-sub-items{
        padding: 30px 0;
        max-width: 390px;
        position: static;
        z-index: 2;
        margin: 0;
        overflow: auto;
        // max-height: 65vh;
        max-height: 340px;
        &::-webkit-scrollbar-track {
            background-color: #E9E9E9;
        }
        &::-webkit-scrollbar {
            width: 3px;
            background: #E9E9E9;
        }
        &::-webkit-scrollbar-thumb {
            background: $color2;
        }
        .header-nav-sub-item{
            position: static;
            &:hover{
                background: $color1;
                .header-nav-sub-link{
                    // background: #013365;
                    // color: #fff;
                    color: $color2;
                    &:before,
                    &:after{
                        color: $color2;
                    }
                }
                .all-departments-sub{
                    opacity: 1;
                    visibility: visible;
                    // width: auto;
                }
            }
            &.purificadores-para-casa,
            &.purificadores-para-empresa{
                .sub-items{
                    min-height: 406px;
                    ul{
                        height: 345px;
                        > li{
                            display: inline-block;
                            vertical-align: middle;
                            width: 49%;
                        }
                    }
                }
            }
        }
        .all-departments-sub{
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 390px;
            visibility: hidden;
            opacity: 0;
            width: auto;
            overflow: auto;
            transition: 300ms all;
            z-index: 1;
            background: #FFFFFF;
            &::-webkit-scrollbar-track {
                background-color: #E9E9E9;
            }
            &::-webkit-scrollbar {
                width: 3px;
                background: #E9E9E9;
            }
            &::-webkit-scrollbar-thumb {
                background: $color2;
            }
            h3{
                font-weight: $semiBold;
                font-size: 22px;
                color: $color2;
                line-height: 27px;
                margin: 0 0 10px;
                margin-bottom: 0;
            }
            .sub-items{
                background: #FFFFFF;
                padding: 20px;
                width: 100%;
                height: 293px;
                position: relative;
                padding-right: 320px;
                // > img{
                //     display: none!important;
                //     @media (min-width: 992px) {
                //         display: block!important;
                //         position: absolute;
                //         bottom: 0;
                //         right: 0;
                //         z-index: 1;
                //     }
                // }
                .sub-banner{
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    max-width: 320px;
                    img{
                        height: auto;
                        // max-height: 242px;
                        max-width: 320px;
                        width: auto;
                    }
                }
                ul{
                    padding: 10px 0 0;
                    // height: 223px;
                    // overflow: scroll;
                    position: relative;
                    z-index: 2;
                    &::-webkit-scrollbar {
                        width: 0;
                    }
                    &::-webkit-scrollbar-track {
                        background: transparent;
                    }
                    &::-webkit-scrollbar-thumb {
                        background: transparent; 
                    }
                    &::-webkit-scrollbar-thumb:hover {
                        background: transparent; 
                    }
                    li{
                        margin-bottom: 5px;
                        a{
                            font-weight: $regular;
                            font-size: 13px;
                            color: #7B8EA2;
                            line-height: 22px;
                            display: table;
                            // &:before{
                            //     @include fontAwesome('\f111', 'fas');
                            //     color: #013365;
                            //     font-size: 9px;
                            //     line-height: 22px;
                            //     display: inline-block;
                            //     margin-right: 10px;
                            //     vertical-align: middle;
                            // }
                            &:hover{
                                // background: #013365;
                                color: #FFA000;
                                &:before{
                                    color: #FFA000;
                                }
                            }
                        }
                    }
                }
            }
            .sub-brands{
                background: #fff;
                padding: 20px;
                width: 100%;
                ul{
                    margin: -4px;
                    li{
                        padding: 4px;
                        display: inline-block;
                        vertical-align: middle;
                        a{
                            border: 1px solid #E8EDEF;
                            border-radius: 0;
                            min-width: 93px;
                            height: 43px;
                            display: block;
                            position: relative;
                            img{
                                transform: translate(-50%, -50%);
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                max-width: 90%;
                            }
                            &:hover{
                                border-color: darken(#E8EDEF, 10%);
                            }
                        }
                    }
                }
            }
            .sub-banner{
                // display: none!important;
            }
        }
    }

    .contact-nav-mobile{
        margin-top: 20px;
        padding: 15px;
        > h5{
            font-weight: $semiBold;
            font-size: 13px;
            color: #FFFFFF;
            letter-spacing: 0;
            line-height: 30px;
        }
        ul{
            li{
                padding: 3px 0;
                i{
                    min-width: 20px;
                    text-align: center;
                    font-size: 12px;
                    color: #2EC4B6;
                }
                span, a{
                    font-weight: $medium;
                    font-size: 9px;
                    color: #FFFFFF;
                    line-height: 14px;
                }
                &.h-atendimento{
                    border-top: 1px solid #11406E;
                    border-bottom: 1px solid #11406E;
                    padding: 10px 0 17px;
                    margin: 10px 0;
                    span{
                        font-weight: $semiBold;
                        font-size: 13px;
                        color: #FFFFFF;
                        letter-spacing: 0;
                        line-height: 30px;
                        display: block;
                        & + span{
                            font-weight: $regular;
                            font-size: 9px;
                            color: #FFFFFF;
                            line-height: 12px;
                        }
                    }
                }
            }
            &.social-links{
                margin: 0 -4px;
                li{
                    display: inline-block;
                    vertical-align: middle;
                    padding: 4px;
                    > a{
                        display: block;
                        width: 30px;
                        height: 30px;
                        border-radius: 100%;
                        background: #B4BCBF;
                        i{
                            display: block;
                            font-size: 13px;
                            color: #3B4850;
                            line-height: 32px;
                            text-align: center;
                            margin: 0 auto;
                        }
                    }
                }
            }
        }
    }
}