﻿.box-newsletter {
    text-align: center;
    background: bg('back-newsletter.png');
    background-color: #FFFFFF;
    background-size: cover;
    background-position: top center;
    position: relative;
    padding: 30px;
    padding-bottom: 0px;
    .newsletter {
        position: relative;
        z-index: 1;
        .header {
            svg{
                margin-bottom: 10px;
            }
            i,
            h3,
            p {
                color: #FFFFFF;
                letter-spacing: 0;
            }
            i,
            h3 {
                font-size: 40px;
            }
            i {
                margin-bottom: 15px;
            }
            h3 {
                font-size: 17px;
                font-weight: $semiBold;
                color: #FFFFFF;
                text-transform: uppercase;
                line-height: 20px;
                margin-top: 0;
                margin-bottom: 30px;
                strong{
                    display: block;
                    color: $color2;
                }
            }
            p {
                color: #707070;
                font-size: 17px;
                font-weight: $regular;
                line-height: 20px;
                margin-bottom: 20px;
            }
        }
        .form {
            max-width: 458px;
            margin: auto;
            input {
                background: #395270;
                border: none;
                height: 50px;
                padding: 0 20px;
                font-size: 12px;
                color: #FFFFFF;
                font-weight: 400;
                line-height: 15px;
                margin-bottom: 20px;
                &::placeholder {
                    font-size: 12px;
                    color: #FFFFFF;
                    font-weight: $regular;
                    line-height: 15px;
                }
                &::-ms-input-placeholder {
                    font-size: 12px;
                    color: #FFFFFF;
                    font-weight: $regular;
                    line-height: 15px;
                }
                &:-ms-input-placeholder {
                    font-size: 12px;
                    color: #FFFFFF;
                    font-weight: $regular;
                    line-height: 15px;
                }
                &.name {
                    width: 100%;
                }
                &.email {
                    width: 100%;
                }
            }
            button {
                border-radius: 0;
                width: 100%;
                height: 50px;
                &:hover{
                    background: darken($color2,10%);
                }
            }
        }
    }
    // &::after {
        // content: '';
        // @include size(100%, 117px);
        // z-index: 0;
        // position: absolute;
        // bottom: 0;
        // left: 0;
        // background-image: linear-gradient(-180deg, rgba(17, 17, 17, 0.00) 0%, #111111 98%);
    // }
    @include media-queries('phone-wide', max) {
        margin-top: 40px;
        .newsletter {
            .header {
                p {
                    font-size: 17px;
                    max-width: 250px;
                    margin: 0 auto 15px;
                    br {
                        display: none;
                    }
                }
            }
            .form {
                position: relative;
                input {
                    &.name,
                    &.email {
                        width: 100%;
                    }
                }
                button.btn-mobile {
                    @include size(45px);
                    line-height: 45px;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    color: $colorPrimary;
                }
            }
        }
        &::after {
            display: none;
        }
    }
}
.newsletter-box{
    background: #3C6895;
    .title{
        img{
            margin: -14px 38px 0 0;
            @media all and (max-width:575px){
                margin-right: 0;
            }
        }
        p{
            font-weight: $semiBold;
            font-size: 22px;
            color: $color2;
            line-height: 30px;
            text-transform: uppercase;
            @media all and (min-width:1200px){
                min-width: 336px;
            }
            margin-right: 60px;
            span{
                display: block;
                font-weight: $regular;
                font-size: 13px;
                color: #FFFFFF;
                line-height: 15px;
                @media all and (max-width:575px){
                    line-height: 16px;
                    margin-top: 5px;
                }
            }
            @media all and (max-width:575px){
                margin-bottom: 15px;
                margin-right: 0;
                line-height: 27px;
            }
        }
        @media all and (max-width:575px){
            text-align: center;
        }
    }
    .form {
        position: relative;
        margin: auto;
        @media( max-width: 767px ){
            width: 100%;
        }
        .input-box{
            position: relative;
        }
        input{
            background: #395270;
            box-shadow: 0 0 0 transparent;
            border-radius: 0;
            height: 52px;
            width: 100%;
            padding: 0 15px;
            font-weight: $regular;
            font-size: 12px;
            border: 1px solid #3C6895;
            color: #fff;
            @media( min-width: 390px ){
                width: 207px;
            }
            @media( min-width: 992px ){
                width: 207px;
            }
            @media( min-width: 1200px ){
                width: 250px;
            }
            @media all and (max-width:991px){
                width: 50%;
            }
            @media all and (max-width:575px){
                width: 100%;
                &.email{
                    padding-right: 65px;
                }
                + input{
                    margin-top: 4px;
                }
            }
            &::-webkit-input-placeholder{
                color:#FFFFFF;
            }
            &:-moz-placeholder{
                color:#FFFFFF;
            }
            &::-moz-placeholder{
                color:#FFFFFF;
            }
            &:-ms-input-placeholder{
                color:#FFFFFF;
            }
        }
        .btn{
            // position: absolute;
            // top: 1px;
            // right: 1px;
            background: $color2;
            border-radius: 0;
            width: 50px;
            height: 50px;
            display: block;
            line-height: 50px;
            font-weight: $semiBold;
            font-size: 17px;
            color: #FFFFFF;
            text-align: center;
            text-transform: uppercase;
            @media all and (max-width:575px){
                position: absolute;
                bottom: 1px;
                right: 0;
            }
        }
    }
    @media all and (max-width:991px){
        padding-bottom: 20px;
    }
}

.alert-message{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    background: $color2;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: $bold;
    padding: 15px;
    box-shadow: 0 0 10px 4px $color2;
    z-index: 999999999;
    animation: shadowAlert 500ms linear 0s infinite alternate;
}

@keyframes shadowAlert {
    from { 
        box-shadow: 0 0 5px 0 $color2;
    }
    to {
        box-shadow: 0 0 10px 4px $color2;
    }
}

#modal-newsletter {
    @extend %fixed-full;
    z-index: 1090;
    .close-popup-news{
        color: #FFFFFF;
        font-weight: 600;
        font-size: 10px;
        text-transform: uppercase;
        line-height: 20px;
        cursor: pointer;
        margin-top: 10px;
        display: block;
    }
    .mask {
        @include mask(rgba(0, 0, 0, 5/10), 0);
    }
    .box-newsletter {
        @include center-vertically-absolute($vertical: true, $horizontal: true);
        width: 300px;
        margin: 0;
        .btn-close-modal {
            position: absolute;
            top: 20px;
            right: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 300ms;
            i {
                font-size: 18px;
                display: block;
            }
            &:hover{
                i{
                    color: $color2;
                }
            }
        }
    }
    // @include media-queries('phone-wide') {
        .box-newsletter {
            position: fixed;
            width: 738px;
            .btn-close-modal {
                i{
                    color: #ffffff;
                }
            }
            .form {
                input {
                    &.name {
                        width: 100%;
                    }
                    &.email {
                        width: 100%;
                        padding-right: 45px;
                    }
                } 
            }
            @media all and (max-width: 767px){
                width: calc(100% - 30px);
            }
        }
    // }
}
// .alert {
//     display: none;
//     padding: 0;
//     margin-top: 10px;
//     color: #124193;
//     position: absolute;
//     left: 0;
//     right: 0;
// }