#header-search{
    @media( max-width: 767px ){
        width: 100%;
    }
    @media all and (max-width: 991px){
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        width: 100%;
        max-width: 100%;
        padding: 0;
        &:not(.open){
            display: none;
        }
    }
}
.search-box {
    .busca {
        legend,
        label,
        select {
            display: none;
        }
        margin: 0;
        padding: 0;
        position: relative;
        .fulltext-search-box {
            width: 100%;
            // min-width: 458px;
            height: 50px;
            padding: 0 60px 0 20px;
            background: #395270;
            font-weight: $regular;
            font-size: 12px;
            color: #fff;
            border-radius: 0;
            border: 0 none;
            letter-spacing: 0;
        }
        .btn-buscar{
            position: absolute;
            top: 5px;
            right: 0;
            background: bg('icon-search.png');
            background-size: 19px 20px;
            @include size(50px, 40px);
            @extend %reset-btn;
            display: block;
            line-height: 43px;
            font-size: 0;
            color: transparent;
            padding: 0;
            border-left: 1px solid rgba(255,255,255,2/10);
            &:hover{
                opacity: .8;
            }
        }
    }
}