﻿.admake-showcase{
    .count-down{
        margin: 25px 0 45px;
        font-weight: $regular;
        font-size: 20px;
        color: #FFFFFF;
        line-height: 50px;
        text-align: center;
        > div{
            margin: 0 10px;
            background: #FFA000;
            border: 1px solid #BF7800;
            box-shadow: 0 10px 7px 0 rgba(0,0,0,0.24);
            width: 52px;
            height: 52px;
            padding: 5px;
            span{
                font-weight: $semiBold;
                font-size: 20px;
                color: #FFFFFF;
                line-height: 25px;
                text-align: center;
                display: block;
                // margin: 4px 0;
            }
            small{
                font-weight: $regular;
                font-size: 10px;
                color: #FFFFFF;
                line-height: 15px;
                text-transform: uppercase;
                text-align: center;
                display: block;
                // margin: 4px 0;
            }
        }
    }
}
    


.showcase-home .admake-showcase > h2{
    font-weight: $semiBold;
    font-size: 15px;
    color: #3C6895;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
    strong{
        font-weight: $semiBold;
        font-size: 36px;
        color: #16314F;
        line-height: 40px;
        display: block;
        @media all and (max-width:575px){
            font-size: 30px;
        }
    }
    @media all and (max-width:575px){
        font-size: 13px;
    }
}

.showcase-home{
    margin-top: 15px;
    margin-bottom: 15px;
    @media( min-width: 768px ){
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .showcase-title{
        background: #F2F6F7;
        border-radius: 25px 0 0 25px;
        border: 0 none;
        .title-icon{
            border-radius: 100%;
            width: 36px;
            height: 36px;
            margin-right: 14px;
            overflow: hidden;
            position: relative;
            text-align: center;
            background: #013365;
            @media( min-width: 768px ){
                border-radius: 25px;
                width: 50px;
                height: 50px;
                margin-right: 18px;
            }
            i{
                font-size: 17px;
                line-height: 38px;
                color: #F2F6F7;
                display: block;
                margin: auto;
                @media( min-width: 768px ){
                    font-size: 22px;
                    line-height: 50px;
                }
            }
        }
        .title-text{
            font-weight: $bold;
            font-size: 15px;
            color: #013365;
            line-height: 20px;
            @media( min-width: 768px ){
                font-size: 18px;
            }
        }
    }
}

.admake-showcase {
    margin: 0;
    .slick-slider{
        .slick-track{
            margin: 0;
        }
    
        .slick-arrow{
            &.slick-prev{
                left: -16px;
            }
            &.slick-next{
                right: -16px;
                padding-left: 4px;
            }
            @media all and (max-width:575px){
                display: none !important;
            }
        }
    }
    .admake-showcase {
        >div {
            >ul {
                margin: -10px -8px;
                >li {
                    display: inline-block;
                    vertical-align: top;
                    padding: 10px 8px;
                    width: 50%;
                    @include media-queries('tablet') {
                        width: 33.3333333%;
                    }
                    @include media-queries('desktop') {
                        width: 33.3333333%;
                    }
                    .ad-showcase-product{
                        padding-left: 7px;
                        padding-right: 7px;
                        .product-price .percent.flag{
                            right: -7px;
                        }
                        .price-economize{
                            strong{
                                display: table;
                                margin: 2px auto 0;
                            }
                        }
                    }
                }
            }
        }
    }
    ul {
        margin: 0 -5px;
        @media( min-width: 768px ){
            margin: 0 -15px;
        }
        li {
            padding: 0 5px;
            height: 100%;
            @media( min-width: 768px ){
                padding: 15px;
            }
        }
        .slick-track{
            display: flex;
        }
        &.slick-slider{
            margin: 0;
        }
        .slick-slide{
            height: auto;
            > div{
                height: 100%;
            }
        }
    }
    .ad-showcase-product {
        position: relative;
        border-radius: 0;
        transition: 300ms all;
        overflow: hidden;
        border: 1px solid transparent;
        background: #FFFFFF;
        box-shadow: 0 10px 10px 0 rgba(0,0,0,0.06);
        height: 100%;
        .product-flags {
            position: absolute;
            top: 0;
            right: 15px;
            z-index: 1;
            .flag {
                @extend %flag;
                display: table;
                margin: 0 0 3px auto;
                &.percent{
                    font-weight: $semiBold;
                    font-size: 12px;
                    color: #FFFFFF;
                    line-height: 20px;
                    min-width: 40px;
                    min-height: 40px;
                    background: #FFA000;
                    padding: 5px 5px;
                    margin: 0;
                    border-radius: 0;
                    span{
                        display: block;
                        line-height: 20px;
                    }
                }
            }
        }
        .product-image {
            position: relative;
            margin-bottom: 15px;
            min-height: 119px;
            overflow: hidden;
            padding: 15px 15px 0;
            @media( min-width: 768px ){
                min-height: 235px;
            }
            > a{
                display: block;
            }
            img {
                max-height: 119px;
                width: auto;
                max-width: 100%;
                height: auto;
                margin: auto;
                @media( min-width: 768px ){
                    max-height: 235px;
                }
            }
        }
        .product-name {
            min-height: 56px;
            position: relative;
            margin: 15px 15px 5px;
            a {
                font-weight: $regular;
                font-size: 12px;
                color: #5C7189;
                line-height: 14px;
                display: block;
                min-height: 56px;
                text-overflow: ellipsis;
                word-wrap: break-word;
                overflow: hidden;
                max-height: 56px;
                @media all and (max-width: 575px){
                    font-size: 11px;
                }
            }
        }
        .product-price {
            position: relative;
            margin: 15px 15px 0;
            min-height: 100px;
            a {
                display: block;
                .installment,
                .old-price,
                .best-price,
                .price-discount {
                    display: block;
                }
                .old-price{
                    font-weight: $regular;
                    font-size: 13px;
                    color: #5C7189;
                    line-height: 15px;
                    min-height: 15px;
                    text-decoration: line-through;
                    @media all and (max-width: 575px){
                        font-size: 11px;
                    }
                }
                .best-price {
                    font-weight: $semiBold;
                    font-size: 20px;
                    color: #3C6895;
                    line-height: 30px;
                    @media all and (max-width: 575px){
                        font-size: 15px;
                    }
                }
                .installment{
                    display: block;
                    border-top: 1px solid #F2F2F2;
                    padding: 15px 15px 5px;
                    margin: 0 -15px;
                    font-weight: $regular;
                    font-size: 13px;
                    color: #5C7189;
                    line-height: 16px;
                    text-align: left;
                    margin-top: 15px;
                    strong{
                        color: #5ED0B0;
                        font-weight: $semiBold;
                    }
                    @media all and (max-width: 575px){
                        font-size: 11px;
                        padding: 10px;
                        margin-top: 10px;
                    }
                }
            }
        }
        .product-buy {
            position: absolute;
            bottom: -40px;
            left: 0;
            right: 0;
            padding: 0;
            height: 0;
            overflow: hidden;
            transition: 300ms all;
            @media( max-width: 767px ){
                display: none!important;
            }
            a, button {
                background: #FFA000;
                border-radius: 0;
                font-weight: $semiBold;
                font-size: 13px;
                line-height: 40px;
                height: 40px;
                color: #FFFFFF;
                text-transform: uppercase;
                padding: 0;
                text-align: center;
                display: block;
                margin: auto;
                position: relative;
                &:hover{
                    background: darken(#FFA000, 5%);
                }
            }
        }
        > .admake-compare-box{
            padding: 14px 0;
            text-align: center;
            display: none;
            input{
                display: none;
                &:checked{
                    + label{
                        &:before{
                            content: "\f14a";
                        }
                    }
                }
            }
            label{
                display: block;
                font-weight: $regular;
                font-size: 12px;
                color: #7B8EA2;
                letter-spacing: 0;
                line-height: 13px;
                margin: 0;
                cursor: pointer;
                &:before{
                    @include fontAwesome('\f0c8', 'far');
                    font-size: 12px;
                    color: #7B8EA2;
                    line-height: 13px;
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 5px;
                }
                &:hover{
                    color: darken(#7B8EA2, 10%);
                }
            }
        }
        &.out-of-stock {
            .product-image,
            .product-name,
            .trustvox-showcase{
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
            }
            .msg-out-of-stock {
                @include size(100%, 45px);
                @include title-default(16px, #fff, 0);
                text-align: center;
                line-height: 45px;
                background: #2EC4B6;
                margin-top: 70px;
                display: block;
                &:hover{
                    background: darken(#2EC4B6, 5%);
                }
            }
        }
        &:hover{
            border-color: #D0DBE6;
            box-shadow: 0 10px 10px 0 rgba(0,0,0,0.12);
            .product-buy {
                height: auto;
                bottom: 0;
            }
        }
    }
}

#admake-compare-items{
    position: fixed;
    right: -62px;
    bottom: 62px;
    opacity: 0;
    visibility: hidden;
    transition: 300ms all;
    &.active{
        right: 62px;
        opacity: 1;
        visibility: visible;
    }
    &:before{
        content: '';
        display: block;
        width: 4px;
        top: 100%;
        bottom: 0;
        left: 50%;
        margin-left: -2px;
        background: #7B8EA2;
        z-index: 1;
        transition: 300ms all;
        position: absolute;
        @media all and (max-width: 575px){
            display: none;
        }
    }
    &.regua{
        &:before{
            top: 0;
        }
    }
    .list{
        .compare-item{
            border-radius: 100%;
            width: 80px;
            height: 80px;
            border: 1px solid #7B8EA2;
            padding: 0;
            position: relative;
            margin-bottom: 10px;
            z-index: 2;
            img{
                display: block;
                border-radius: 100%;
            }
            button{
                color: #fff;
                background: #7B8EA2;
                border-radius: 100%;
                width: 25px;
                height: 25px;
                padding: 0;
                border: 0 none;
                position: absolute;
                top: 0;
                right: 0;
                &:hover{
                    background: darken(#7B8EA2, 10%);
                }
            }
        }
    }
    #admake-compare-go{
        background: #3C6895;
        width: 80px;
        height: 80px;
        border-radius: 100%;
        font-weight: $semiBold;
        font-size: 11px;
        color: #FFFFFF;
        text-align: center;
        line-height: 80px;
        display: block;
        padding: 0;
        border: 0 none;
        position: relative;
        z-index: 2;
        &:hover{
            transform: scale(1.03);
        }
    }
    @media all and (max-width: 575px){
        &.active,
        .list{
            display: flex;
        }
        .list{
            .compare-item{
                border-radius: 0;
                margin: 0 5px;
                button{
                    border-radius: 0;
                    width: 20px;
                    height: 20px;
                    font-size: 13px;
                }
            }
        }
        &.active{
            bottom: 0;
            left: 0;
            right: 0;
            background: #FFFFFF;
            box-shadow: 0 -10px 10px 0 rgba(0,0,0,0.1);
            justify-content: center;
            overflow: auto;
            z-index: 1060;
            #admake-compare-go{
                border-radius: 0;
                margin: 0 5px;
                padding: 10px;
                line-height: 65px;
            }
        }
    }
}

#department-showcase{
    .admake-showcase{
        > ul{
            display: -ms-flexbox!important;
            display: flex!important;
            -ms-flex-pack: start!important;
            justify-content: flex-start!important;
            -ms-flex-wrap: wrap!important;
            flex-wrap: wrap!important;
            margin: 0 -15px;
            > li{
                -ms-flex: 0 0 33.333333%;
                flex: 0 0 33.333333%;
                max-width: 33.333333%;
                padding: 15px;
                height: initial !important;
                @media all and (max-width:991px){
                    -ms-flex: 0 0 50%;
                    flex: 0 0 50%;
                    max-width: 50%;
                }
                @media all and (max-width:575px){
                    padding: 5px;
                }
            }
        }
        @media all and (max-width:575px){
            padding: 0 5px;
            margin-top: 25px;
        }
    }
}