.container{
    .adamke-tabs-list{
        @media( max-width: 767px ){
            margin: 0 -15px;
        }   
    }
}
.adamke-tabs-list{
    border-bottom: 3px solid $colorSecondary;
    li{
        display: block;
        margin: 0;
        @media( min-width: 768px ){
            display: inline-block;
            vertical-align: bottom;
            margin-right: 3px;
        }
        a{
            display: block;
            background: #FFFFFF;
            border: 1px solid $colorBorder;
            padding: 15px;
            font-weight: $bold;
            font-size: 14px;
            color: $colorPrimary;
            line-height: 20px;
            text-align: left;
            @media( min-width: 768px ){
                padding: 15px 30px;
                text-align: center;
            }
            &:hover{
                color: darken($colorPrimary, 15%);
            }
            &.active{
                color: $color5;
                background-image: linear-gradient(-180deg, #FAFAFA 1%, #FBFBFB 61%, #E7E7E7 100%);
                background: #fafafa;
                background: -moz-linear-gradient(top, #fafafa 0%, #fbfbfb 61%, #e7e7e7 100%);
                background: -webkit-linear-gradient(top, #fafafa 0%, #fbfbfb 61%, #e7e7e7 100%);
                background: linear-gradient(to bottom, #fafafa 0%, #fbfbfb 61%, #e7e7e7 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e7e7e7',GradientType=0 );
            }
        }
    }   
}